{% set items = cms.accused |sort('name', true) %}
{% for object in items %}

@@@<br />
title: "{{ object.name  }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />

description: {% if object.title  %}{{ object.title }}{% endif %}<br />

image_path: {% if object.image %}{{ object.image.url | replace('webhook-uploads', 'uploads') }}{% endif %}<br />

image_credit: {% if object.image_credit  %}"{{ object.image_credit | safe }}"{% endif %}<br />






slug: {{ object.slug | replace('accused/', '') }}<br />
---<br />

{{ object.copy | safe }}<br />
{% endfor %}
<br />
