{% set items = cms.accused |sort('name', true) %}
{% for accused in items %}

{% if accused.charges %}

{% for object in accused.charges  %}
@@@<br />
title: "{{ object.related_case.name | replace('The Prosecutor v. ', '') }} charges  - {{ accused.name }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />

charges_status: {% if object.charges_status  %}"{{ object.charges_status }}"{% endif %}<br />


case: {% if object.related_case %}{{ object.related_case.slug | replace('cases/case/', '') }}{% endif %}<br />
accused:<br />
$$- {{ accused.slug | replace('accused/', '') }}<br />




slug: {{ object.related_case.slug | replace('the-prosecutor-v-', '') | replace('cases/case/', '') }}-charges-{{ accused.slug | replace('accused/', '') }}<br />
---<br />
<h3>Factual Allegations</h3>

{% if object.factual_allegations %}
  {{ object.factual_allegations | safe }}<br />
{% endif %}


<h3>Charges</h3>
{% if object.charges %}
  {{ object.charges | safe }}<br />
{% endif %}



{% endfor %}
{% endif %}
{% endfor %}
<br />
