{% set items = cms.boardofadvisors |sort('name', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name  }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />

board_chair: {% if object.board_chair  %}{{ object.board_chair }}{% endif %}<br />

last_name: {% if object.last_name  %}{{ object.last_name }}{% endif %}<br />

{% if object.image %}image_path: {{ object.image.url | replace('webhook-uploads', 'uploads') }}<br />{% endif %}

position: {% if object.position  %}{{ object.position | safe }}{% endif %}<br />

description: {% if object.meta_description  %}{{ object.meta_description | safe }}{% endif %}<br />




slug: {{ object.slug | replace('board-of-advisors/', '') }}<br />
---<br />

{{ object.copy | safe }}<br />
{% endfor %}
<br />
