{% set items = cms.cases |sort('start_date', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name | safe }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />

country: {{ object.country.slug | replace('country/', '') }}<br />




trial_opening_date: {% if object.trial_opening %}{{ object.trial_opening | date('Y-m-d') }}{% endif %}<br />


case_status: {% if object.case_status %}"{{ object.case_status }}"{% endif %}<br />

long_name: {% if object.long_name %}"{{ object.long_name }}"{% endif %}<br />


accused:<br />
{% for accused in object.accused %}$$- {{ accused.slug | replace('accused/','') }}<br />{% endfor %}<br />

slug: {{ object.slug | replace('cases/case/', '') }}<br />
---<br />

{{ object.note | safe }}<br />




{% endfor %}
<br />
