{% set items = cms.events |sort('start_date', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name | addslashes }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />
{% if object.publish_date %}date: {{ object.publish_date | date('c') }}<br />{% endif %}
{% if object.start_date %}start_at: {{ object.start_date | date('c') }}<br />{% endif %}
{% if object.show_time %}show_time: {% if object.show_time == false %}true{% else %}false{% endif %}<br />{% endif %}

{% if object.featured_image %}featured_image_path: {{ object.featured_image.url | replace('webhook-uploads', 'uploads') }}<br />{% endif %}

{% if object.recap_link %}recap_link: "{{ object.recap_link }}"<br />{% endif %}

slug: {{ object.slug | replace('events/', '') }}<br />
---<br />

{{ object.copy | safe }}
{% endfor %}
<br />
