{% set items = cms.news |sort('publish_date', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name | safe }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />
{% if object.publish_date %}date: {{ object.publish_date | date('c') }}<br />{% endif %}
{% if object.featured_image %}featured_image_path: {{ object.featured_image.url | replace('webhook-uploads', 'uploads') }}<br />{% endif %}
slug: {{ object.publish_date | date('Y-m-d') }}-{{ object.slug | replace('news/', '') }}<br />
---<br />

{{ object.copy | safe }}
{% endfor %}
<br />
