//Base
@import 
"bower_components/normalize-scss/normalize",
"bower_components/normalize-opentype.css/normalize-opentype",
"bower_components/bourbon/dist/bourbon",
"modules/grid-settings",//overrides bitters grid-settings
"bower_components/neat/app/assets/stylesheets/neat",
"base/base";

// Vendor
//==@import "libs/font-icons";

//Modules
@import 
"modules/article",
"modules/hero",
"modules/navigation",
"modules/navigation-side-right",
"modules/navigation-sidebar",
"modules/grid-items", // HOME PAGE
"modules/grid-items-lines", // BIO PAGE
"modules/tables",
"modules/utilities-accessibility",
"modules/utilities-responsive",
"modules/utilities-iframes";

//Extras
//===@import "modules/map";

// OPTIONAL MODULES
/////"modules/article",
//"modules/nav-top",
//=="modules/comments",
//=="modules/page-splash",
//=="modules/pager-icons",
//"modules/layouts",
//=="modules/cycle-slideshow",
//=="modules/item-list",
//=="modules/list-news",
//=="modules/card",
//=="modules/sliding-menu-top",
//=="modules/vertical-timeline",
//=="modules/headings",


body {
 background-color: $base-body-color;
}


.content {
  background-color: $content-color-background;
  height: auto;
  //min-height: 1200px;
  padding-bottom:2em;
  min-height:100%;
}

// body.home .content {
//   //background-color: $sidebar-right-color-background;
//    background-color: $content-color-background;
// }

//  li.follow {
//   text-align: center;
//   border-radius: 3px;
//   border: 1px solid darken($base-accent-color, 5%);
//   padding: .5em 0 .45em 2em;
//   margin-right: 1em;
// }


// .white {
//   color: white;
// }



// .selected {
//   background-color: red;
//   color: black;
// }

// body.card-timeline blockquote{
//   display: none;
// }
// body.card-timeline article p{
//   font-size:110%;
// }

// .bio {
//   margin-left:0;
//   margin-right:1em;
//   display:inline-block;
//   float:left;

// }
// .bio img {
//   //border-radius: 50%;
//   max-width: 150px;
//   float: left;
//   }
  footer {
    background-color: $light-gray;
    font-size:.75em;
    padding: 2.125em 0 .375em 9.5em;

  }

//   article.hentry p{
// text-align: justify;
//   }

//   .timeline-background {
//     padding-top:2em;
//     background-color:#FFF;
//     padding-bottom:2em;
//     margin-bottom:8em;
//     border-top:1px solid #ccc;
//     border-bottom:#ccc;
//   }

// .include {
//  position: relative;
//  height:100%;
//  width: 100%;
//  background-color: red;
// }
