@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $content-color-background;//$base-body-color;
  $grid-item-background: $sidebar-right-color-background;//lighten($sidebar-right-color-background, 2%);
  $grid-item-colors:
    lighten($sidebar-right-color-background, 1%),
    lighten($sidebar-right-color-background, 6%),
    lighten($sidebar-right-color-background, 10%),
    lighten($sidebar-right-color-background, 14%),
    lighten($sidebar-right-color-background, 3%),
    lighten($sidebar-right-color-background, 5%),
    lighten($sidebar-right-color-background, 15%),
    lighten($sidebar-right-color-background, 5%),
    lighten($sidebar-right-color-background, 95%),
    lighten($sidebar-right-color-background, 95%),
    lighten($sidebar-right-color-background, 95%);
  $grid-item-border-size: 9px;
  $grid-item-columns: 3;
  $grid-item-big-columns: 9;
  $grid-item-color: white;
  $grid-item-height: 16em;

  @include media($normal-screen-up) {
    $grid-item-height: 22.275vh;
  }


  @include clearfix;
////BP
  position: relative;
  margin-top:0;
  margin-right: $grid-item-border-size - 4px;
  margin-left: $grid-item-border-size - 4px;
  padding-top:$grid-item-border-size;
////END BP
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    @include media($normal-screen-up) {
    padding: 2vh;
  }
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 8 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        //box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {

      font-size:1.8vh;
      max-width: 90%;
      margin: auto;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        font-size:1.7vh;
        max-width: 80%;
      }
      @include media($wide-screen-up) {
        font-size: 1.4vh;
        max-width: 80%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 78%;
      }
    }
  }

  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.text-left h1{
  text-align:left;
}

.text-right h1{
text-align:right;
}
