@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-body-color;
  $grid-item-background: $base-body-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    //padding: 2em;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;
perspective: 800px;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .95);
    }
  }

  .grid-item img {
      display: inline-block;
      float:left;
      margin-right:.5em;
      height: 8em;
      border-radius: 50%;
      //margin-bottom: 1.2em;
      //opacity: .2;
    }

  .grid-item h2 {
      color: $grid-item-color;
      //font-size: 1rem;
      margin-bottom: .4em;


    }

  .grid-item p {
      float:left;
      color: transparentize($grid-item-color, .4);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}


body.arguendo .grid-items-lines .grid-item {

  height: 12em;
  height: auto;
  min-height:11em;

  @include media($large-screen) {

    width:100%;
  }

}





$easeOutBack:cubic-bezier(0.175, 0.885, 0.320, 1.275);

.card {
  width:100%;
  height:100%;
  position:absolute;
  transform-style: preserve-3d;
  transition: transform .7s $easeOutBack;
}

.front, .back {
  position:absolute;
  padding: 1.5em 2em 2em 2em;
  width:100%;
  height: 100%;
  backface-visibility: hidden;

}


.back {
  background:#191919;
  color:white;
  transform: rotateY(180deg);

}

.card:hover {
  transform: rotateY(180deg);
}
