header.navigation {
  $navigation-padding: 1em !default;
  $navigation-background: $dark-gray !default;
  $navigation-color: transparentize(white, 0.3) !default;
  $navigation-color-hover: white !default;
  $navigation-height: 60px !default;
  $navigation-nav-button-background: $base-accent-color !default;
  $navigation-nav-button-background-hover: darken($navigation-background, 10) !default;
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20) !default;
  $navigation-search-background: lighten($navigation-background, 5) !default;
  $navigation-search-border: 1px solid darken($navigation-background, 5) !default;
  $navigation-active-link-color: transparentize(white, 0.5) !default;
  $navigation-submenu-padding: 1em !default;
  $horizontal-bar-mode: $large-screen !default;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;
//Fixing nav to top - plays better with page-splash images
//position: fixed;
top: 0;


  .menu-wrapper {
    //@include outer-container;
    @include clearfix;
    position: relative;
    z-index: 9999;
    padding-left: 1em;
    padding-right: 1em;
  }

  .logo {
    float: left;
    max-height: $navigation-height; // * 1.2
    //padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height * 1.196; //1.9
      padding: .5em 0;
    }
  }

  .navigation-menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    font-size: 1rem;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;

    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;

      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 500;
      letter-spacing: 0.0625em;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
        background-color: darken($navigation-background, 10%);
      }
    }
  }

  .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid $navigation-active-link-color;
  }

  li.more {
    padding-right: 0;

    &:hover .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      position: relative;
      padding-right: .8em;
    }
  }

  li.more a {
    padding-right: .8em;
  }

  .submenu {
    display: none;

    @include media($horizontal-bar-mode) {
      position: absolute;
      top: 1.25em;
      //left: -$navigation-submenu-padding;

    }

    li {
      display: block;
      padding-right: 0;
      font-size:.85em;


      @include media($horizontal-bar-mode) {
        line-height: 1.4;//$navigation-height /1.3;



        &:first-child a {
          padding-top: 1em;
        }
        &:last-child a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .6875em;
        }
      }

      a {
        text-align: right;
        background-color: lighten($navigation-background, 6);
        width: 100%;
        display: inline-block;
        padding-top: 0.6875em;
        padding-bottom: 0.6875em;

        @include media($horizontal-bar-mode) {
          width: 100%;
          background-color: lighten($navigation-background, 5%);
          text-align: left;
          padding-left: $navigation-submenu-padding;
        }
      }
    }
  }

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;


    @include media($large-screen) {
      background: transparent;
      //float: right;
      clear: none;
      //fixing the position because the right sidebar is fixed.
      position: fixed;
      top: 0;
      right:2em;
      //z-index:2000;
    }
  }

  a.sign-up {
    margin-top: 13px;
    float: right;
    @include transition (all 0.2s ease-in-out);
    display: inline;
    background: $navigation-nav-button-background;
    border-radius: $base-border-radius;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em;

    @include media($large-screen) {
      padding: .4em 1em;
    }

    &:hover {
      background: lighten($navigation-nav-button-background, 10);
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    padding: 13px 5px;
    float: left;
    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        @include position(absolute, 0.3em 0.3em 0.3em 0);
        outline: none;
        padding: 5px 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative;
      display: inline-block;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}
