article {
  padding: 1.2em;
  background-color: $content-color-background;
  margin:auto;
  max-width: 100%;


    &.hentry {
      max-width: $e-vp;


    }


    img:first-child {
      float: none;
      margin: .5em 0 1.5em 0;

    @include media($small-screen-up) {
      float: left;
      margin: .5em 1.4em 1.5em 0;
    }

  }
  //min-height: $c-vp;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  img {
  	max-width: 100%;
  }
    @include media($large-screen-up) {
  	padding: 4rem 7rem;
  }
}

  aside.sidebar-right {

    font-size: .75em;
}

object, embed, iframe {
  max-width: 100% !important;
}



hr {
//margin-top:    @line-height-computed;
//margin-bottom: @line-height-computed;
margin:1em auto;
border: 0;
border-top: 1px solid #EEEEEE;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
position: absolute;
top: -9999px;
left: -9999px;
}

sup, sub {
//@include adjust-font-size-to($kappa);
 vertical-align: baseline;
 position: relative;
 top: -0.4em;
}
sub { top: 0.4em; }

.footnotes li {
//@extend small;

}

.entry-content li {
  margin-bottom: 1.5em;
}

.sharing {
margin-top: 4em;
}

.grid-items > article {
  margin-top: 14em;
}
