section.cards {
  @include outer-container;


  .page-header {
    text-align: center;
    margin-top: 6em;
    margin-bottom:3em;
  }
  nav { @include span-columns(12); }
  article { @include span-columns(12);
    border-radius: $base-border-radius;
    //box-shadow: 0 2px 4px darken($base-body-color, 20);

position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
   }


@include media ($large-screen) {
  nav { @include span-columns(2);
		//@include shift(.5);
  }
  article {
  	@include span-columns(7);
  	@include shift(1.5);
    // -webkit-box-shadow: 0 2px 4px darken($base-body-color, 10);
    //   box-shadow: 0 2px 4px darken($base-body-color, 10);
      background-color: #FFF;
      padding: 0; //removing the padding so we can make the splash image, if there is one, full width of the content
      border: 1px solid #ddd;
      margin-bottom: 5em;
    }

  }


}



.card-menu {

background-color: black;
color: #CCC;
width: 100%;



}

article .entry-content, body.content_splash article .entry-content, body.content_splash article header  {

	// adding padding back in for the text
			padding: 1em 3em 2em 3em;

		}

		article header {
	     padding-bottom: 0;
		}

		article header hr {
			width: 60%;
			text-align: center;
		}

h1.entry-title {
    margin-top: 0px;
    text-align: center;
    padding-top: .5em;
}

body.content_splash h1.entry-title {

		margin-top: -60px;

		//max-width: 30%;
//border-top: 1px solid	#bcbcbc;
//border-right: 1px solid	#bcbcbc;
//border-left: 1px solid	#bcbcbc;
background-color: rgba(255,255,255, 0.95);


}

.card-contentTK {
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
