#map-stateparties, #map-situations-and-cases {
  background-color: #eee;
    max-height: 780px;
   height: 92vh;
   width: 100% !important;
  @include media($d-vp) {
  //width: 72% !important; //100 - sidebar width
  width: 68.5% !important;
  }
}

.ammapDescriptionWindow {
  background-color: #fcfcfc !important;
  border: 6px solid $blue !important;
  box-shadow: 0 30px 50px rgba(0,0,0,0.8);
  color: #555;
  padding: 1.5em;
  width: 365px !important;

  @include media($d-vp) {
    width: 450px !important;
    left: 80px !important;
    top: 190px !important;
  }
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  a {
    color: $red;
    &:hover {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}
.amChartsLegend {
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.ammapDescriptionTitle {
  font-size: 2em;
  //color: #000;//darken($red, 5%);
}


.legend {
  margin-top: 2em;
}
ul.legend-sidebar {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

 ul.legend-sidebar li {
  font-size: 1.1em;
  border: 1px solid #0c3f5f;
  padding: .35em;
  color: #ddd;
  border-radius:3px;
  //float: left;
  margin-bottom:1em;
 } 
