#map-stateparties {

background-color: #eee;
}

#AU, #PH {
  color: #000;
  colorSolid: green;
}

.ammapDescriptionWindow {
  background-color: #fff;
  color: #191919;
  padding: 1.5em;
  width: 450px !important;
  -ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.ammapDescriptionTitle {
  font-size: 2em;
}