$sliding-menu-border-color: $base-background-color;
$sliding-menu-background: lighten($sliding-menu-border-color, 15);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: $blue-aba-logo;
$horizontal-bar-mode: $xlarge-screen-up;//$small-screen-up;//$medium-screen;//$large-screen !default;

.sliding-menu-button {
  @include button(simple, $base-background-color);
  @include inline-block;
  cursor: pointer;
  font-size: $base-font-size * 1.2;
  margin-bottom: $base-line-height;
  position: relative;
  outline: none;

  img {
    height: 1.3em;
  }
}

.sliding-menu-content {

  @include position(fixed, 0px auto 0px 0px);
  @include size(100% 450px);
  @include transform(translateY(-450px));
  @include transition(all .25s linear);
  background: $sliding-menu-background;
  padding: 0 2em;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: $sliding-menu-color;

    @include media ($horizontal-bar-mode) {
      @include size(100% 250px);
      @include transform(translateY(-250px));
    }

  .sliding-menu-content-inner {
    //@include outer-container;
    width:100%;
    //margin: auto;
    display: block;
    margin: 2em auto 2em auto;
    overflow: hidden;

    .column-left {
      @include span-columns(12);
      @include media ($medium-screen-up) {
        @include span-columns(6 of 12);
      }
    }
    .column-right {
      @include span-columns(12);
      @include media ($medium-screen-up) {
        @include span-columns(6 of 12);
      }
    }
    @include media ($horizontal-bar-mode) {
      width: 80%;
    }
    ul.nav-small, ul.nav-small li {
      margin:0;
      padding: 0;
      display: inline-block;
    }

    p {
      display: none;
      text-align: justify;
      @include media ($tiny-screen-up) {
        display: block;
      }
      a {
        color: #999;
        border-bottom: 1px dashed #999;
      }
    }
    .logo img{
      display: inline-block;
      float: left;
      margin-right:1em;
      @include media ($tiny-screen-up) {
        display: block;
      }
    }
  }
  li {
    color: $blue-dark;
    list-style-type: none;
    font-size: 1.2rem;
  }
  li a {
    font-size: 1rem;
    //border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;

    &:hover {
      //background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateY(0));
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .8;
    visibility: visible;
  }
}

// Based on code by Diego Eis
