<div class="push bg"></div>
<footer class="footer" id="content-info">
&copy; {{ site.time | date:'%Y' }} {% for link in site.data.links-footer %}<a href="{{ link.link }}">{{ link.name }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;site by <a href="http://sonnetmedia.net">sonnet media</a>
</footer>
<a href="http://www.americanbar.org/" style="no-print">
  <img src="/assets/images/logo-aba.png" style="max-width:55px;position:fixed;bottom: 10px;left:35px;">
</a>
