<script type="text/javascript">
function downloadJSAtOnload() {

  var element = document.createElement("script");
  element.src = "/assets/js/concatenate-scripts.js";
  document.body.appendChild(element);

  var element_addthis = document.createElement("script");
  element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
  document.body.appendChild(element_addthis);


}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>

{% if page.url contains '/state-parties-to-the-icc/' or page.url contains '/situations-and-cases-map/' %}
<script src="/assets/js/ammap/ammap.js" type="text/javascript"></script>
<script src="/assets/js/ammap/maps/worldLow.js" type="text/javascript"></script>
<script src="/assets/js/ammap/map.js" type="text/javascript"></script>
{% endif %}





