{% if item.events %}
  <ul class="accordion">
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger" style="font-weight:bold;font-size:1.25em;display:block;margin:1.5em 0 1em 0;">Key Events +</a>
       <ul class="submenu">
        {% for event in item.events %}
          {% if event.related_case._id == relation._id %}
            {% include "templates/partials/format-accused-events.html" %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
{% else %}
{% for row in charges %}
{% if row.accused._id == item._id %}
  {% include "templates/partials/format-charges-dates.html" %} {# // TODO: REMOVE THIS ONCE DATA HAS BEEN BROUGHT OVER #}
  {% endif %}
{% endfor %}
{% endif %}
