{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set content_type = cms.theabaiccproject %}    

{% block sideMenu %}
 {% include "templates/theabaiccproject/menu.html" %}
{% endblock %}

{% block content %}
  {% if item.featured_image %}
    {% block head_extra %}
      {#  Adds CSS Styles to the head to show featured image in the hero unit  #}
      {% include "templates/partials/head_extra.html" %}
    {% endblock %}
  {% endif %}
  <div class="has-layout">
    {% include "templates/partials/format-article.html" %}
    {# {% if item.timeline %}
      <div class="timeline-background">
        <iframe src='{{ item.timeline }}' width='100%' height='650' frameborder='0'></iframe>
      </div>
    {% endif %} #}
   </div> 
{% endblock %}