
    <li>
      <h1><small>Accused</small><br /><a href="{{ url(row.accused) }}">{{ row.accused.name }}</a></h1>
    </li>
    <li>
      <h5>Charges Status</h5>
      {{ row.charges_status }}
    </li>
    {% if row.date_summonses %}
    <li>
      <strong>Date Summonses: </strong>
        {{ row.date_summonses|date('F d Y') }}
    </li>
    {% endif %}
    {% if row.date_of_initial_appearance %}
    <li>
      <strong>Date of Initial Appearance: </strong>
        {{ row.date_of_initial_appearance|date('F d Y') }}
    </li>
    {% endif %}
    {% if row.date_of_confirmation_of_charges %}
    <li>
      <strong>Date of Confirmation of Charges: </strong>
        {{ row.date_of_confirmation_of_charges|date('F d Y') }}
    </li>
    {% endif %}
    {% if row.charges %}
    <li>
      <h5>Charges</h5>
      {{ row.charges|safe }}
    </li>
    {% endif %}
    {% if row.factual_allegations %}
    <li>
      <strong>Factual Allegations: </strong>
      {{ row.factual_allegations|safe }}
    </li>
    {% endif %}
    <hr />
  