<div class="full-width-bar" style="background:rgba(255,255,255,0.7);border:none;">
  {% if row.accused.image %}
    <img src="{{ row.accused.image|imageCrop(200, 200)}}" width="180" height="180" style="float:left;margin:2em 1em 1em 0;">
  {% endif %}  

  <h1 class="m0"><small>Accused</small><br /><a href="{{ url(row.accused) }}">{{ row.accused.name }}</a></h1>
  <h6 style="margin:0;">{{ row.accused.title }}</h6>




  <div style="width:100%;clear:both;margin-top:3em;">
    <h4>Status of Case</h4>
      {% if row.charges_status %}<h3>{{ row.charges_status }}</h3>{% endif %}
  </div>

<ul>
  {% if row.date_summonses %}
    <strong>Date Summonses: </strong>
    <li>{{ row.date_summonses|date('j F Y') }}</li>
  {% endif %}
  {% if row.date_of_initial_appearance %}
    <strong>Date of Initial Appearance: </strong>
    <li>{{ row.date_of_initial_appearance|date('j F Y') }}</li>
  {% endif %}
  {% if row.date_of_confirmation_of_charges %}
    <strong>Date of Confirmation of Charges: </strong>
    <li> {{ row.date_of_confirmation_of_charges|date('j F Y') }}</li>
  {% endif %}
</ul>


<ul class="accordion">
    <li><a href="javascript:void(0)" class="js-accordion-trigger" style="font-weight:bold;font-size:1.25em;display:block;margin:1.5em 0 1em 0;">Charges & Allegations +</a>
      <ul class="submenu">
         {% if row.charges %}
  
    <h4>Charges:</h4>
    {{ row.charges|safe }}
  
  {% endif %}
  {% if row.factual_allegations %}
  
    <h4>Factual Allegations: </h4>
    {{ row.factual_allegations|safe }}
  
  {% endif %}
  
      </ul>
    </li>
  </ul>



 
</div>