{% if situation.overview %} 
  <ul class="accordion">
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger flex-title">
        <h6>
          Overview {% if accordion !== false %}{% include "templates/partials/icon-arrow-down.html" %}{% endif %}
        </h6>
      </a>
      <ul {% if accordion !== false %}class="submenu"{% endif %}>
        <li {% if loop.index > 1 %}class="list"{% endif %}><strong>{{ event.event }}{% if event.event_date %}: {{ event.event_date|date('j F Y') }}{% endif %}</strong>
          {{ situation.overview|safe }}
        </li>
      </ul>
    </li>
  </ul>           
{% endif %}