{{ object.publish_date|date('F j, Y') }}
{% if object.name %}<h3><a href="{{ url(object) }}">{{ object.name }}</a></h3>{% endif %}
{% if object.featured_image %}
    <img src="{{ object.featured_image|imageCrop(120) }}" style="float:left;margin-right:1.5em;">
{% endif %}
{% if object.copy %}
  <div class="copy">{{object.copy|safe}}</div>
{% endif %}
{% if object.venue || object.address %}
  <p style="display:inline-block;margin-right:2em;"><a href="{{ url(event) }}"><strong>Details</strong></a></p>
{% endif %}
{% if object.recap_link %}
  <p><a href="{{ object.recap_link}}"><strong>&raquo; See a Recap of this Event</strong></a></p>
{% endif %}




