{% if row.charges %}  
  <ul class="accordion">
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger" style="font-weight:bold;font-size:1.25em;display:block;margin:1.5em 0 1em 0;">Charges & Allegations +</a>
      <ul class="submenu">
      {% if row.factual_allegations %}  
          <h4>Factual Allegations: </h4>
          {{ row.factual_allegations|safe }}
        {% endif %}
        {% if row.charges %}  
          <h4>Charges:</h4>
          {{ row.charges|safe }}  
        {% endif %}
        
      </ul>
    </li>
  </ul>
{% endif %}
