{#   <li class="nav-sidebar-item" tabindex="{{loop.index}}" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
    <a href="{{ url(page) }}" class="menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">
      The ABA-ICC PRoject
    </a>
  </li>
 #}

 {% if landing %}
<li class="nav-sidebar-item">
    <a href="{{ landing }}" class="menu-item active-top">
      Return
    </a>
  </li>

 {% endif %}
{% for page in  content_type %}
  <li class="nav-sidebar-item" tabindex="{{loop.index}}" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
    <a href="{{ url(page) }}" class="menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">
      {{ page.name }}
    </a>
  </li>
{% endfor %}  


{% for page in  sub_content_type %}
  <li class="nav-sidebar-item" tabindex="{{loop.index}}" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
    <a href="{{ url(page) }}" class="menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">
      {{ page.name }}
    </a>
  </li>
{% endfor %}  




{#  <li class="nav-link "><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li>            

 #}





