 {% if row.accused.image %}
    <img src="{{ row.accused.image|imageCrop(180, 180)}}" style="height:180px;width:180px;">
  {% endif %}  
  <h1 class=""><small>Accused</small><br /><a href="{{ url(row.accused) }}">{{ row.accused.name }}</a></h1>
  <h6>{{ row.accused.title }}</h6>
  <hr />
    {% include "templates/partials/format-charges-status.html" %}
{% if row.accused.events %}
  <ul class="accordion">
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger" style="font-weight:bold;font-size:1.25em;display:block;margin:1.5em 0 1em 0;">Key Events +</a>
       <ul class="submenu">
        {% for event in row.accused.events %}
          {% if event.related_case._id == item._id %}
            {% include "templates/partials/format-accused-events.html" %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
{% else %}
  {% include "templates/partials/format-charges-dates.html" %} {# // TODO: REMOVE THIS ONCE DATA HAS BEEN BROUGHT OVER #}
{% endif %}
{% include "templates/partials/format-case-charges.html" %}