<h6><small>{{ row.event_date|date('j F Y') }}</small></h6>
{% if row.related_accused %}
  <ul class="inline">
    {% for relation in row.related_accused %}
      <li><a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}</li>
    {% endfor %}
  </ul>
{% endif %}
<h5>{{ row.event }}</h5>

{% if row.description %}
<ul class="accordion">
    <li style="strong small"><a href="javascript:void(0)" class="js-accordion-trigger" ><small>Details +</small></a>
      <ul class="submenu">
         
  {{ row.description|safe }}
  
      </ul>
    </li>
  </ul>    
{% endif %}    
    
  





