<div class="full-width-bar" id="{{ charge.name|lower|replace(' ', '-') }}">            
  <div class="grid">
    <div class="left-side">
      {% if accused.image %}
        <img src="{{ accused.image|imageCrop(180, 180)}}" style="height:180px;width:180px;margin-top:8px;">
      {% endif %} 
        &nbsp;
    </div> 
    <div class="right-side">
      <h2 class="h3 m0">
        <a href="{{ url(accused) }}">{{ accused.name }}</a>
      </h2>
      {% if accused.title %}                        
        <p class="m0">{{ accused.title }}</p>
      {% endif %}
      <h6>{# Status of Case:  #}
        <span class="red">
          {% include "templates/partials/format-accused-charges-status.html" %}
        </span>
      </h6>
      {% include "templates/partials/format-accused-charges.html" %}
      {% include "templates/partials/format-accused-events.html" %}
    </div>
  </div> 
</div>