<div class="hero background-fixed featured_image{% if item.charges %} images{% elseif item.image %} image{% endif %}">
  <div class="hero-inner">

    <div class="hero-copy">
  <h1>{% if item.name %}{{ item.name }}{% else %}{{ item._type }}{% endif %}{% if item._type == 'country' %} <img src="/static/images/countries/{{ item.iso_code }}.svg">{% endif %}
{% if item.title %}<br /><small> {{ item.title }}</small>{% endif %}
  </h1>


  {% if item.image %}
    <img src="{{ item.image|imageCrop(200, 200)}}" class="image-single" width="200" height="200">
  {% endif %}


    </div>


{% if item.charges %}
<div class="images images-{{item.charges.length}}" style="width;100%;clear:both;height:400px;margin-bottom:3em;">
  {% for row in item.charges %}
    {% if row.accused.image %}
      <figure style="width:160pz;height:180px;float:left;margin-right:.25em;">
        <img src="{{ row.accused.image|imageCrop(200, 200)}}" width="160" height="160">
        <figcaption>{{ row.accused.name }}</figcaption>
      </figure>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}



  </div>
</div>