  <ul>
<li class="nav-sidebar-item active-top nav-heading"><a href="/situations-and-cases/situations-cases/">Situations & Cases <span style="font-size:.5em;">return</span></a></li> 
</ul>


  <ul class="accordion">
    <li class="nav-sidebar-item active-top nav-heading">
      <a href="javascript:void(0)" class="js-accordion-trigger">Situation Countries +</a>
        <ul class="submenu">
          {% for page in  content_type %}
            <li class="nav-sidebar-item" tabindex="{{loop.index}}" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
              <a href="{{ url(page) }}" class="menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">
                {{ page.name }}
              </a>
            </li>
          {% endfor %}  
          {# <li class="nav-sidebar-item active-top nav-heading">
            <a href="/about-the-icc/state-parties-to-the-icc/">Others <span style="font-size:.5em;">return</span></a>
          </li> 
            {% for page in  sub_content_type %}
              <li class="nav-sidebar-item" tabindex="{{loop.index}}" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
                <a href="{{ url(page) }}" class="menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">
                  {{ page.name }}
                </a>
              </li>
            {% endfor %}   #}
        </ul>
      </li>
    </ul>


    

{# cases #}

{% set cases = item.cases_country %}
{% if cases %}

  <ul>
  {% if cases %}
  <strong>Cases:</strong>
  {% endif %}
  {% for thecase in cases %}
    <li style="margin-right:2em;margin-bottom:1em;"><a href="{{ url(thecase) }}">{{ thecase.name }}</a></li>
    {% endfor %}
  </ul>


{% endif %}

