<nav>

{# PRIMARY MENU DETERMINED BY SECION - every template should define which global menu to use #}

{% if global_menu %}
  {% if local_menu || local_menu_dropdown %}{#  If we have sub content, roll up the top level menu into a dropdown #}
    <ul class="nav-sidebar accordion">
      <li class="nav-sidebar-item"><a href="javascript:void(0)" class="js-accordion-trigger menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">Main Menu +</a>
        <ul class="submenu">
          {% for page in global_menu %}
            {% set page = page.page %}    
            {% include "templates/partials/format-menu-item.html" %}
          {% endfor %} 
        </ul>
      </li>
    </ul>
  {% else %}
    <ul class="nav-sidebar">
      {% for page in global_menu %}
        {% set page = page.page %}    
        {% include "templates/partials/format-menu-item.html" %}
      {% endfor %} 
    </ul>  
  {% endif %}
{% endif %}



{# if local_menu_dropdown is set items are show in an ADDITIONAL DROPDOWN MENU -  be sure to set the label too with 'local_menu_dropdown_label' #}
{% if local_menu_dropdown %}
  <ul class="nav-sidebar accordion">
    <li class="nav-sidebar-item"><a href="javascript:void(0)" class="js-accordion-trigger menu-item{% if getCurrentUrl() == url(page) %} active{% endif %}">{{ local_menu_dropdown_label }} +</a>
      <ul class="submenu">
        {% for page in  local_menu_dropdown %} {# CONTENT TYPE IS SET IN THE LOCAL TEMPLATE #}
          {% include "templates/partials/format-menu-item.html" %}
        {% endfor %}  
      </ul>
    </li>
  </ul>
{% endif %}


{# if local_menu is show items are shown on page PAGE LEVEL SUB CONTENT #}
{% if local_menu %} 
{% if item._type == 'cases' || item._type == 'country' %}
 {# if cases or country you must set the country name or use item.name in your template #}
<header style="padding-left:1.5em;">
  <h5 style="margin-bottom:.5em;">Cases in {% if country.name %}{{ country.name }}{% else %}{{ item.name }}{% endif %}</h5>
</header>
{% endif %}

  {% for page in  local_menu %}{# SUB CONTENT TYPE IS SET IN THE LOCAL TEMPLATE #}
    <ul class="nav-sidebar">
      {% include "templates/partials/format-menu-item.html" %}
    </ul>  
  {% endfor %}  
{% endif %}



</nav>
