<aside class="sidebar-right">
  
    
<section>
      {% if item._type %}
        {% for type in cms_types %}
          {% if type.id == item._type %}
            {% if item.name %}
            <h2><small>{{ type.name }}</small></h2>
            {% else %}
            <h2>{{ type.name }}</h2>
            {% endif %}
          
          {% endif %}
        {% endfor %}        
      {% endif %}
      {% if item.name %}
        <h1>{{ item.name }}</h1>
      {% endif %}




      {% if item.meta_description %}

       <p>{{ item.meta_description}}</p> 

       {% endif %}
    
</section>

    <div class="hidden-small-screensTK">
      <nav class="card-menu columns-small">
        <ul class="nav-sidebar">
          
          {% if item._type == 'theabaiccproject' %}
            {% for menu in global.abaicc_project_menu %}
              {% include "templates/partials/format-menu.html" %}
            {% endfor %}              
          {% elseif item._type == 'abouttheicc' %} 
            {% for menu in global.about_the_icc_menu %}
              {% include "templates/partials/format-menu.html" %}
            {% endfor %}
          {% else %}                
          {% for menu in global.abaicc_project_menu %}
              {% include "templates/partials/format-menu.html" %}
            {% endfor %}              
          {% endif %}

        </ul>
      </nav>
    </div>  



  
</aside>
