<aside class="sidebar-right">
  <div class="sidebar-content">
    
    <div class="section-heading">
      {% if item._type %}
        {% for type in cms_types %}
          {% if type.id == item._type %}
            <h2><a href="{{ url(type) }}">{{ type.name }}</a></h2>
          {% endif %}
        {% endfor %}        
      {% endif %}
    </div>


    <div class="hidden-small-screensTK">
      <nav class="card-menu columns-small">
        <ul class="nav-sidebar">
          {% for link in cms.global.pages %}
            <li class="nav-sidebar-item" tabindex="{{loop.index}}" class="nav-link" data-ga-click="nav, go to explore, text:{{ link.page.name }}">
              <a href="{{ url(link.page) }}" class="{% if getCurrentUrl() == url(link.page) %}arrow arrow-left{% endif %}">
                {{ link.page.name }}
              </a>
            </li>
          {% endfor %}                
        </ul>
      </nav>
    </div>  
  </div>
</aside>
