<script src="/static/javascript/dist/scripts.min.js" async></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53c565a74f2c5c5b" async="async" async></script>

<script>
   WebFontConfig = {
      typekit: { id: 'uor5rqc' }
   };

   (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
      s.parentNode.insertBefore(wf, s);
   })(document);
   //opens non-local links in new window

</script>

