{% set countries = cms.country %}
{% set countries = countries|where('situations') %}
{% set preliminary_examinations_color = 'green' %}{% set trials_color = 'black' %}

  {% for object in countries|sort('name') %}
    {# {% set situation = object.situations|first %} #}
    <div class="full-width-bar" id="{{ url(object)|replace('/country/', '')|replace('/', '') }}">
      <div class="grid">
        <div class="left-side-wide">  
          <h2>
            <a href="{{ url(object) }}">
              {{object.name}}
            </a>
          </h2>   
          {% for situation in object.situations %}
          {% if loop.index == 2 %}<h6>Situation II</h6>{% endif %}{% if loop.index == 3 %}<h6>Situation III</h6>{% endif %}
            <small>
              {{ situation.phase }}
            </small>
          {% endfor %}

          <hr />
          {% if object.cases_country %}
            {% for cases in object.cases_country %}
            {% set case_id = cases._id %}
              <ul>
                <li>
                  <strong><a href="{{ url(cases) }}">{{ cases.name }}</a></strong>        
                  {% if cases.case_status %}
                    <br /><small>{{ cases.case_status }}</small>
                  {% endif %}
                  <ul>
                    {% for accused in cms.accused %}
                      {% for charge in accused.charges %}          
                        {% if charge.related_case._id == case_id %}
                          <li><a href="{{ url(accused) }}">{{ accused.name }}</a></li>
                        {% endif %}
                      {% endfor %}      
                    {% endfor %}      
                  </ul>
                </li>
              </ul>
            {% endfor %}
          {% endif %}
        </div>
        <div class="right-side-narrow" style="padding-top:.5em;">
          {% set accordion = false %}
          {% for situation in object.situations %}
            {% if loop.index == 2 %}<h5>Situation II</h5>{% endif %}{% if loop.index == 3 %}<h5>Situation III</h5>{% endif %}
            {% if situation.brief_summary %}{{ situation.brief_summary }}{% endif %}
            {% include "templates/partials/format-situation-overview.html" with accordion %}
            {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}