{% set countries = cms.country %}
{% set countries = countries|where('situations') %}
{% set preliminary_examinations_color = 'green' %}{% set trials_color = 'black' %}
<div class="flex-boxes list-filter">
  {% for object in countries|sort('name') %}
    {% set situation = object.situations|first %}
    <div class="flex-box {{ situation.phase|replace(':','', 'g')|replace(' ','-', 'g')|replace('&','', 'g')|lower }}">
      <h1 class="flex-title name" style="position:relative;"><a href="{{ url(object) }}">{{object.name}} <i class="icon-ion-link small" style="color:#c6c6c6;position:absolute;right:3;"></i></a></h1> 
      <small>{{ situation.phase }}</small>
      {% if situation.overview %}
        <br /><br />
        <a href="javascript:void(0)" class="js-accordion-trigger" style="margin-top:1em;"><small>Overview <i class="icon-down-open" style="color:#ddd;position:absolute;right:3;bottom:3;"></i></small></a>        
        <div class="submenu">              
          {{ situation.overview|safe }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>