{% set countries = cms.country %}
{% set countries = countries|sort('name') %}

<div class="flex-boxes list-filter">
  {% for object in countries %}
    {% set situation = object.situations|first %}
    <div class="flex-box{% if object.state_party %} partyToTheRomeStatute{% elseif object.signed_but_not_ratified %} signedbutNotRatified{% else %} notASignatory{% endif %}">
      <h1 class="flex-title name" style="position:relative;"><a href="{{ url(object) }}">{{ object.name }} <i class="icon-ion-link small" style="color:#c6c6c6;position:absolute;right:3;"></i></a></h1> 
        <small>
         {% if object.date_signed %}
          <strong>Signature</strong><br /> {{ object.date_signed|date('Y-M-j')  }}
            {% if object.date_ratified_or_acceded %}
              <br /><strong>Ratification or Accension</strong><br /> {{ object.date_ratified_or_acceded|date('Y-M-j') }}
            {% else %}
              <br />Not Ratified or Acceded
            {% endif %}
          {% else %}
            <br />Not a Signatory
          {% endif %}
        </small>

        {% if object.genocide || object.crimes_against_humanity || object.aggression || object.war_crimes %}
            <br /><br />
            <a href="javascript:void(0)" class="js-accordion-trigger" style="margin-top:1em;"><small>Legislation <i class="icon-down-open" style="color:#ddd;position:absolute;right:3;bottom:3;"></i></small></a>
              <div class="submenu small">
               <h5>Domestic Atrocity Crime Legislation</h5>

               {% if object.genocide %}<h5>Genocide</h5>{{ object.genocide|markdown }}{% endif %}

               {% if object.crimes_against_humanity %}<h5>Crimes against Humanity</h5>

               {{ object.crimes_against_humanity|markdown }}{% endif %}

               {% if object.aggression %}<h5>Aggression</h5>{{ object.aggression|markdown }}

               {% endif %}

               {% if object.war_crimes %}<h5>War Crimes</h5>{{ object.war_crimes|markdown }}{% endif %}
              </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
