{% extends "templates/partials/base.html" %}

{% block hero %}
  {% include "templates/partials/hero.html" %}
{% endblock %}

{% block sideMenu %}          
  {% set content_type = cms.boardofadvisors|sort('last_name') %}
  {% set landing = '/the-aba-icc-project/board-of-advisors/' %}
  {% include "templates/partials/menu-side.html" %}
{% endblock %}

{% block prev-next %}
  {% set prev = prevItem(item, 'last_name') %}
  {% set next = nextItem(item, 'last_name') %}
{% include "templates/partials/prev-next.html" %}
{% endblock %}
