{% extends "templates/theabaiccproject/base.html" %}

{% block hero %}
  {% include "templates/partials/hero.html" %}
{% endblock %}

{% block sideMenu %}          
  {% set local_menu_dropdown = cms.boardofadvisors|sort('last_name') %}
  {% set local_menu_dropdown_label = 'Board Members' %}  
  {% parent %}
{% endblock %}

{% block prev-next %}
  {% set prev = prevItem(item, 'last_name') %}
  {% set next = nextItem(item, 'last_name') %}
{% include "templates/partials/prev-next.html" %}
{% endblock %}
