	{% assign title = item.title  | markdownify | remove: '<p>' | remove: '</p>'  %}
<div class="item-wrapper">
<div class="column-date">
	<small>{{item.date | date: "%Y-%b-%d" }}</small> 
</div>
<div class="column-item">
	<h2 class="h2" style="display:inline-block;">
		
			<a href="{{item.url}}" target="_blank">{{title}}</a>
	
 	</h2>
		<div class="item">
		{% if item.link_to_original %}
			<small>
				<a href="{{item.link_to_original}}">
					<i class="icon-link-ext"></i>
				</a>
			</small>
		{% endif %}
		{% if item.file %}
			<small>
				<a href="/assets/files/{{item.file}}">
					<i class="icon-download"></i> 
				</a>
			</small>
		{% endif %}
	</div>
<br />
	<small>
	{% if item.summary %}
		{{item.summary | markdownify }}
	{% endif %}
	</small>
</div>

</div>