{% capture the_collection %}arguendo{% endcapture %}
{% assign  questions = site.[the_collection] | where: 'type', 'question' | sort: 'date' | reverse %}


{% for page in questions reverse  | limit: 10 %}
  {% capture the_question %}{{ page.title }}{% endcapture %}
  {% assign  articles = site.arguendo | where: 'type', -'question' | sort: 'date' | reverse   %}

<div class="layout-content-with-grid" style="margin-bottom:6em;">

  <aside><!-- // Pose the Question -->
  <h1>
    <a href="{{ page.url }}" class="arrowTK {% if page.url contains page.url %} arrow-leftTK{% endif %}">
      {{page.title}}
    </a>
  </h1>
  {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%Y-%b-%d' }}
        </small>
      </time>
    {% endif %}

  {{ page.content | markdownify }}
</aside>


<!-- // Articles to answer-->
  <section class="grid-items-lines">


    {% for article in articles %}
      {% capture  the_author %}{{ article.author }}{% endcapture %}
        {% assign  authors = site.data.people | where: 'last_name', {{the_author}}  %}
      {% if article.question == {{the_question}} %}
        <a class="grid-item grid-item-big grid-item-list {% cycle 'dark' ,'light' %}" href="{{ article.url }}">
              {% for author in authors %}
                {% if author.image %}
                  <span class="figure">
                    <img src="/assets/img/{{author.image}}">
                  </span>
                {% endif %}
              {% endfor %}
              <h2 class="h6">
                {% for author in authors  %}
                  {{author.name}}
                {% endfor %}
                {{author.name}}
              </h2>
              <strong>{{article.title}}</strong>

        </a>
      {% endif %}
    {% endfor %}


  </section>



</div>




{% if site.include_addthis_sharing %}
  <div class="sharing">
    {% include articles/sharing.html %}
  </div>
{% endif %}

{% endfor %}
