{% include global/hero.html %}

{% assign news_featured = site.posts | where: 'featured', true %}

<div class="layout">


{% for news_item in news_featured  %}
<div class="comment">
  <div class="comment-image">
    {% if news_item.featured_image %}
     <img src="{% if news_item.featured_image contains 'http://' %}{{news_item.featured_image}}{% else %}/assets/img/{{news_item.featured_image}}{% endif %}" alt="" style="max-width:600px;">
    {% else %}
       <img src="/assets/img/gorilla-400x200.jpeg" alt="" style="max-width:300px;">
    {% endif %}
  </div>
  <div class="comment-content">
    <small>{{news_item.tags}}</small>
    <h2 class="h4">
      <a href="{{news_item.url}}">
        {{ news_item.title }} <!-- TODO: <i class="icon-right-openTK icon-ion-link"></i> -->
      </a>
    </h2>
    {% if include.excerpt == 'yes' %}
      {{news_item.excerpt}}
    {% endif %}
    <p class="comment-detail">
      <small>
        {{ news_item.date | date: "%B %d, %Y" }}
      </small>
    </p>
  </div>
</div>
{% endfor %}


<hr />








<section>
{% for news in site.posts limit:250 %}
<div class="comment">
  <div class="comment-image">
    {% if news.featured_image %}
     <img src="{% if news.featured_image contains 'http://' %}{{news.featured_image}}{% else %}/assets/img/{{news.featured_image}}{% endif %}" alt="" style="max-width:300px;">
    {% else %}
       <img src="/assets/img/gorilla-400x200.jpeg" alt="" style="max-width:300px;">
    {% endif %}
  </div>
  <div class="comment-content">
    <small>{{news.tags}}</small>
    <h2 class="h4">
      <a href="{{news.url}}">
        {{ news.title }} <!-- TODO: <i class="icon-right-openTK icon-ion-link"></i> -->
      </a>
    </h2>
    {% if include.excerpt == 'yes' %}
      {{news.excerpt}}
    {% endif %}
    <p class="comment-detail">
      <small>
        {{ news.date | date: "%B %d, %Y" }}
      </small>
    </p>
  </div>
</div>
{% endfor %}
</section>  
