{% extends "templates/partials/base-layout-individual.html" %}

{% block hero %}
  {% include "templates/partials/hero.html" %}
{% endblock %}

{% block sideMenu %}          
  {% set content_type = cms.country|sort('name') %}
  {% set landing = '/about-the-icc/state-parties-to-the-icc/' %}
  {% set landing = '/about-the-icc/state-parties-to-the-icc/' %} {# TODO: what should this go to? #}
  {% include "templates/partials/format-menu.html" %}
{% endblock %}


{% block content %}

<div class="has-layout" style="padding:.75em;background-color:#fff;width:100%;min-height:80px;">
  <ul style="margin:0;padding:0;">
    <li style="margin:0;padding:0;">
      {% if object.date_signed %}
          <strong>Signature</strong>{{ object.date_signed|date('Y-M-j')  }}
        {% if object.date_ratified_or_acceded %}
          <strong>Ratification or Accenssion</strong>{{ object.date_ratified_or_acceded|date('Y-M-j') }}
        {% else %}
          <strong>Not Ratified or Acceded</strong>
        {% endif %}
      {% else %}
        <strong>Not a Signatory to the Rome Statute</strong>
      {% endif %}
    </li>
  </ul>
</div>

{% endblock %}

{% block prev-next %}
  {% set prev = prevItem(item, 'last_name') %}
  {% set next = nextItem(item, 'last_name') %}
{% include "templates/partials/prev-next.html" %}
{% endblock %}
