{% extends "templates/abouttheicc/base.html" %}

{% block hero %}
  {% include "templates/partials/hero.html" %}
{% endblock %}

{% block sideMenu %}

  {% set local_menu_dropdown = cms.country|where('situations')|sort('name') %}
  {% set local_menu_dropdown_label = 'Situation & Preliminary Examinations Countries' %}
  {% set country = item.name  %}
  {% set local_menu = item.cases_country %}
  {% parent %}
{% endblock %}

{% block content %}
  <div class="has-layout row row-first small">
    <ul class="inline-block" style="margin:0;padding:0;">
      <li><strong>Rome Statute: </strong></li>
        {% if item.date_signed %}
            <li><strong>Signature:</strong> {{ item.date_signed|date('F jS, Y')  }}</li>
          {% if item.date_ratified_or_acceded %}
            <li><strong>Ratification or Accension:</strong> {{ item.date_ratified_or_acceded|date('F jS, Y') }}</li>
          {% else %}
            <li><strong>Not Ratified or Acceded</strong></li>
          {% endif %}
        {% else %}
          <li><strong>Not a Signatory to the Rome Statute</strong></li>
        {% endif %}
    </ul>
  </div>

  {% set situations = item.situations %}
  {% if situations %}

    <div class="has-layout row row-bottom-next small">
      <ul class="inline-block" style="margin:0;padding:0;">
      {% for phase in situations %}
        <li><strong>Phase:</strong> {{ phase.phase }} {% if loop.index == 2 %}II{% endif %}{% if loop.index == 3 %}III{% endif %}</li>
        {% endfor %}
      </ul>
    </div>

  {% endif %}


  {% set situation = item.situations|first %}

  {% set cases = item.cases_country %}
  {% if cases %}
    <div class="has-layout row row-bottom hidden-medium-screens small">
      <ul class="inline-block" style="margin:0;padding:0;">
      {% if cases %}
      <strong>Cases:</strong>
      {% endif %}
      {% for thecase in cases %}
        <li style="margin-right:2em;margin-bottom:1em;"><a href="#{{ thecase.name|lower|replace(' ', '-') }}">{{ thecase.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <div class="flex-boxesTK">
    {% set situations = item.situations %}
    {% for situation in situations %}
      <article class="hentry">
        {% if situation.overview %}
          <h2>Overview{% if loop.index == 2 %}, situation II{% endif %}{% if loop.index == 3 %}, situation III{% endif %}</h2>
          {{ situation.overview|safe }}
        {% endif %}
      </article>
    {% endfor %}
  </div>

{% if cases %}<div class="has-layout"><h4>Cases <small style="font-size:.625em;">click through for details</small></h4></div>{% endif %}
  <div class="flex-boxes">
    {% for thecase in cases %}
      <div class="flex-box" id="{{ thecase.name|lower|replace(' ', '-') }}" style="background-color:white;">
        <h3 class="flex-title"><a href="{{ url(thecase) }}">{% if thecase.long_name %}{{ thecase.long_name }}{% else %}{{ thecase.name }}{% endif %}</a></h3>
        {{ thecase.case_status }}
      </div>
    {% endfor %}
  </div>

{% if item.genocide || item.crimes_against_humanity || item.aggression || item.war_crimes %}
  <div class="timeline">
    <div class="full-width-bar">
      <h3>Domestic Atrocity Crime Legislation</h3>
      {% if item.genocide %}
        <strong>Genocide</strong><br />
        {{ item.genocide|markdown }}
      {% endif %}
      {% if item.crimes_against_humanity %}
        <strong>Crimes against Humanity</strong><br />
        {{ item.crimes_against_humanity|markdown }}
      {% endif %}
      {% if item.aggression %}
        <strong>Aggression</strong><br />
        {{ item.aggression|markdown }}
      {% endif %}
      {% if item.war_crimes %}
        <strong>War Crimes</strong><br />
        {{ item.war_crimes|markdown }}
      {% endif %}
    </div>
  </div>
{% endif %}

  {% set prev = prevItem(item, 'name') %}
  {% set next = nextItem(item, 'name') %}
  {% include "templates/partials/prev-next.html" %}
{% endblock %}