article {
  padding: 1.5rem;
  margin:auto;
  max-width: 100%;
  &.hentry {
  max-width: $d-vp;
  img:first-child {
    float: none;
    margin: 0 0 1.5em 0;

  @include media($small-screen-up) {
    p img {
      float: left;
      margin: .5em 1.4em 1.5em 0;
    }
  }

}
  }
  //min-height: $c-vp;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  img {
  	max-width: 100%;
  }
    @include media($large-screen-up) {
  	padding: 4rem 7rem;
  }
}

//setup typographical style of indented paragraphs
// p:first-child,
// h1 + p,
// h2 + p,
// h3 + p,
// h4 + p,
// h5 + p,
// h6 + p,
// hr + p {
//   text-indent: 0;
// }

// p {
// text-indent: 1.5rem;
// }

aside.sidebar-right {
//@extend .font-var;
font-size: 12px;//$iota;

}

// .tagsNote {
// background-color: rgba(45,126,165,0.8);
//  color: #FFF;
//  padding: 1em;
// }
small {
//@extend .as-heading__smallest;
//@include adjust-font-size-to($kappa);
//@extend .font-var;
}



blockquote {
//@extend .as-blockquote--typeset ;

}


object, embed, iframe {
  max-width: 100% !important;
}


// the dev class on an article doesn't have indented paragraphs, but has space between them.
article.dev {
p {
  margin-bottom: 1.25em;
  text-indent: 0;
}
}

hr {
//margin-top:    @line-height-computed;
//margin-bottom: @line-height-computed;
margin:1em auto;
border: 0;
border-top: 1px solid #EEEEEE;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
position: absolute;
top: -9999px;
left: -9999px;
}

sup, sub {
//@include adjust-font-size-to($kappa);
 vertical-align: baseline;
 position: relative;
 top: -0.4em;
}
sub { top: 0.4em; }

.footnotes li {
//@extend small;

}

.entry-content li {
  margin-bottom: 1.5em;
}

.sharing {
margin-top: 4em;
}

.grid-items > article {
  margin-top: 14em;
}