.cycle-slideshow, .cycle-pager {
	display:none;
	@include media ($d-vp) {
			display:block;
			}


}



.cycle-slideshow img, .slideshow img {



width: auto; height: auto;

@include media ($d-vp) {
      //height: 400px;
    }



}

.cycle-overlay {
    position: absolute; bottom: 0; width: 100%; z-index: 1600;
    background: black;
    background-color: rgba(0,0,0,0.1);
    color: darken($light-gray, 15%);
		padding: 1em;
    //opacity: .5;
    white-space: normal;
		font-size:90%;

}

/* anchors */
.cycle-slideshow > a {
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0;
    color: #f6f6f6;
    display: block;
}

/* images */
.cycle-slideshow > a > img {
    //width: 100%;
    position: static;
    display: block;
}

// /* divs */
// .cycle-slideshow > div {
//     position: absolute; top: 0; left: 0;
//     width: 100%; padding: 0;
// }

/* pager */
.cycle-pager {
	margin-right:  $sidebar-right-width;
    text-align: center;
		width: 100% - $sidebar-right-width;
		z-index: 500;
		position: absolute;
    //top: 10px;
    overflow: hidden;
}
.cycle-pager span {
    font-family: arial; font-size: 50px; width: 16px; height: 16px;
    display: inline-block; color: #ddd; cursor: pointer;
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}
