.layout {
  //margin-top: 5em;

    @include outer-container;
    max-width:95%;

    aside { @include span-columns(5);}
    article { @include span-columns(9); }

    section {
      @include span-columns(7);
    }

}

.layout-article {

    //margin-top: 5em;
    padding-top:5em;
    @include outer-container;
    max-width:95%;

    aside { @include span-columns(3); margin-top:2em;padding:1em;background-color:#eee; }
    article { @include span-columns(9); margin-top:0; padding: 2em 4em 2em 2em;}

    // section {
    //   @include span-columns(7);
    // }

}


.layout-content-with-grid {
  //margin-top: 5em;

    @include outer-container;

    aside { @include span-columns(12); }
    article { @include span-columns(12); }

    section {
      @include span-columns(12);
    }

    @include media($large-screen) {
      //@include grid-item-columns($grid-item-columns);



      aside { @include span-columns(5); }
      article { @include span-columns(9); }

      section {
        @include span-columns(7);
      }
    }
}
