// ------------------------------------------------------------
// SIDEBAR MODULE - MOBILE FIRST
// ------------------------------------------------------------

// =============== VARIABLES ===============

$include-sidebar-right: true !default;

//These must be in % values to calculate widths
$sidebar-right-width: 28%;// 33% !default;
$sidebar-right-width-narrow: 15% !default;
$sidebar-right-width-wide: 33% !default;
$sidebar-right-breakpoint: $e-vp !default;
$sidebar-right-color-background: transparentize(#000, 0.09) !default;// transparent !global !default;//#000 !default;
$sidebar-right-color: #999 !default;


// NEW WAY? TODO $navigation-background-color: $navigation-background !global !default;

// =============== RIGHT SIDEBAR ===============

@if $include-sidebar-right != false {

  //.content
  .content, .splash
   {
    margin-right: 0;
    @include media($sidebar-right-breakpoint) {
        margin-right:  $sidebar-right-width;

        // the following two classes allow us to change the width of the sidebar from front matter by adding sidebar_width: narrow or sidebar_width: medium

    }
  }

  @include media($sidebar-right-breakpoint) {

        body.narrow .content{
          margin-right:  $sidebar-right-width-narrow;
      }
      //   body.article .content{
      //     margin-right:  $sidebar-right-width-wide;

      // }
}



  .sidebar-right {

  // BASIC STYLING (FOR SMALLEST SCREENS - ADJUST BELOW)
      margin-top:0;
      clear: both;
      overflow: hidden;
      //z-index: 1000;
      //margin-top: $navigation-height;
      width: 100%;
      height: auto;
      position: static;
      text-align: left;
      padding: 2em 7em 4em 2em;

      //THESE ITEMS WILL BE PULLED OUT INTO PAGES
      color: $sidebar-right-color;
      background: $sidebar-right-color-background;
      // background-image: url(/assets/img/Astfeld-023-large_041621.jpg);
      // background-position: top 20%; // Background position needs to be at top for desktop?
      // background-repeat: no-repeat;
      transition: background 1.25s ease-in-out;
     -moz-transition: background 1.25s ease-in-out;
     -webkit-transition: background 1.25s ease-in-out;
      //END

      .content-sidebar {
        background: $sidebar-right-color-background;
      }

  // SET TEXT COLORS
      h1 {
        color: $light-gray;
        margin-bottom:.5em;
      }
      a {
        color: $sidebar-right-color;
      }
  //SET THE PARAGRAPH SIZES TO ADJUST TO VARIOUS SCREENS
      p {
        font-size: 1.1em;
          @include media($normal-screen-up) {
            font-size: 1.3em;
          }
          @include media($wide-screen-up) {
            font-size: 1.5em;
          }
        }
        hr {
          margin:1em auto;
          border-top: 1px solid darken($sidebar-right-color-background, 1%);
        }

    /* Sidebar nav */
    .nav-sidebar {
      padding-left: 0;
      //margin-left:-3rem;
      list-style: none;
      text-align: left;
      width: 100%;
      font-size:1.1em;
    }
    .nav-sidebar-item a{
      width: 100%;
      display: block;
      //padding-top: .5em;
      //padding-bottom: .5em;
    }
    .nav-sidebar-item a:hover,
    .nav-sidebar-item a:focus {
      text-decoration: none;
      color: lighten($sidebar-right-color, 5%);
      background-color: lighten($sidebar-right-color-background, 14%);
    }
      // ARROW AND ARROW LEFT, SIDEBAR NAV-WAYFINDING
    .arrow{
      position: relative;
      //width:120px;
      background-color: lighten($sidebar-right-color-background, 6%);
      background-color: $sidebar-right-color-background;
      height:30px;
      line-height: 30px;
      margin-bottom:.255em;
      //text-align:center;
      //color:#fff;
      padding-left:1.6em;
      margin-left:-20px;
    }

    /*left arrow*/
    .arrow-left {
      background-color: lighten($sidebar-right-color-background, 14%);
      color: #f6f6f6;
    }

    @include media($sidebar-right-breakpoint) {
    .arrow-left:before, .nav-sidebar-item .arrow:hover:before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid lighten($sidebar-right-color-background, 14%);;
    }
    }

   // ADJUST PADDING AND POSITIONING FOR VARIOUS SCREENS


      @include media($sidebar-right-breakpoint) {
        /* this is sidebar-right-breakpoint */

        background-position: top 20%; // Background position needs to be at top for desktop?

        margin-top: $navigation-height;
        padding: 4em 3em;
        //padding-top: $navigation-height;// + 40px;
        width: $sidebar-right-width;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll; // TODO: style the scroll? check on browser pics
        -webkit-overflow-scrolling: touch;
          section:first-child {
            margin-top: 37% !important;
          }
          section:last-child {
            margin-bottom: 10% !important;
        }

      }
    }
  }
// IF WE'RE CALLING THE FILE BUT NOT USING RIGHT SIDEBAR MAKE SURE IT DOESN'T MESS UP FRONT-END
  @else {
    .sidebar-right {
        display:none;
    }
}


@include media($sidebar-right-breakpoint) {

// the following two classes allow us to change the width of the sidebar from front matter by adding sidebar_width: narrow or sidebar_width: medium
        body.narrow  .sidebar-right{
          width:  $sidebar-right-width-narrow;
        }
        // body.article .sidebar-right{
        //   //  width:  $sidebar-right-width-wide;

        // }
      }
