a.previous, a.next {
	position: fixed;
	background-color: #e4e4e4;
	background-color: rgba(0,0,0,.1);
	color: rgba(0,0,0,.5);
	padding: 16px 5px 13px 4px;
	bottom: 10px;
	z-index: 101;
	@include transition(color 0.2s linear);

	@include media($medium-screen-up) {
  	position: fixed;
  	top: 52%;
  	height: 3.5em;
  }
}

a.previous:hover, a.next:hover {

background-color: rgba(0,0,0,.5);
color: rgba(255,255,255,.7);
}

a.previous {
border-radius: 0 4px 4px 0;
	left: 0%;

}

a.next {
border-radius: 4px 0 0 4px;
right: 0%;

}
