// This module may be incompatible with sidebar-right

$splash-height: 400px !default;
$splash-color: #999 !default;
$splash-color-background:$navigation-background;//#DDD !default;


// If we declare 'splash_image:' in our frontmatter, we want to splash that image across the top of the screen.
// .splash is added to the page 1) in the content with the image as an inline background image, and
// 2) as a body.content_splash, primarily so we can move our content down out of the way.

.splash {

	margin-top: $navigation-height;
	//margin-top: $navigation-height * -1;
	min-height: $splash-height;
	overflow: visible;
	display: none;
	background-position:50% 50%;
	background-repeat: no-repeat;

		@include media($d-vp) {
			display: block;
			//The following items fix our image so that we can use
			// the parallax effect//dependency for the parallax effect
			// position: fixed;
			// top:0;
			// left:0;
			// z-index: $z-index-splash;
			position: static;
				margin-top: 0;
				background-position: center top;
				background-repeat: no-repeat;

		}

		max-height:$splash-height;
		width: 100%;
		//background-color: $splash-color-background;

		h1 {
		color: white;
		margin: auto;
		text-align: center;
		//display: table-cell;
		//height: $splash-height;
		text-align: center;
		//vertical-align: middle;
		padding-top: 15%;
}

}

// For splash images on card pages, we put the splash inside the article, so we don't want the fixed behavior from above.
article .splash {
				position: static;
				margin-top: 0;
				background-position: center top;
				background-repeat: no-repeat;
			}



body.content_splash .content, .content_splashf {
		margin-top: 0;
		background-color: $content-color-background;

			@include media($d-vp) {
				//	margin-top: $splash-height;
		}




}
