// This module may be incompatible with sidebar-right

$splash-height: 400px !default;
$splash-color: #999 !default;
$splash-color-background:$navigation-background;//#DDD !default;


// If we declare 'splash_image:' in our frontmatter, we want to splash that image across the top of the screen.
// .splash is added to the page 1) in the content with the image as an inline background image, and
// 2) as a body.content_splash, primarily so we can move our content down out of the way.

.splash {
	margin-top: $navigation-height;
	//margin-top: $navigation-height * -1;
	min-height: $splash-height;
	max-height:$splash-height;
	overflow: visible;
	//display: none;
	background-position:top top;
	background-repeat: no-repeat;

		@include media($d-vp) {
			display: block;
			//The following items fix our image so that we can use
			// the parallax effect//dependency for the parallax effect
			// position: fixed;
			// top:$navigation-height;
			// left:0;
			// z-index: -100000;//$z-index-splash;
				//position: static;
				margin-top: 0;
				background-position: left 30%;
				background-repeat: no-repeat;
				background-size: cover;


		}

		h1 {
		color: white;
		margin: auto;
		text-align: center;
		//display: table-cell;
		//height: $splash-height;
		text-align: center;
		//vertical-align: middle;
		padding-top: 15%;
	}

}

h1.splash_title {
color: white;
margin: auto;
border-radius: 3px;
//display: table-cell;
//height: $splash-height;
text-align: center;
//vertical-align: middle;
padding:.45em;
max-width:60%;
position: relative;
top:200px;
text-align:center;
//left:200px;
background-color:#111;
background-color:rgba(0,0,0,0.7);
}
