
body, .content {
  background-color:$base-body-color;
  //margin-top: $navigation-height; //use this only if nav-top is position:fixed
}

.content_grid {
  clear: both;
  //margin-top: 800px;
}

body.black .main{
  opacity:0.1;
  transition: opacity .7s ease-in-out;
   -moz-transition: opacity .7s ease-in-out;
   -webkit-transition: opacity .7s ease-in-out;
  @include media ($large-screen) {
    //opacity:1;
  }

}

iframe {
  text-align: center;
  margin: 3em 10%;
}

// MAP stuff
iframe.map {
  margin: 0;
  padding: 0;
  background-color:#73b6e6;
  z-index: -100;
}

body.map header.navigation {
  //margin-bottom: -20px;
}

.top {
  margin-top:1em;
}

// .main {
//   padding-top:2em;
//   @include media ($large-screen) {
//     padding-top:0;
//   }
// }

.black-label {
  background-color:rgba(0,0,0,0.69);padding:.35em .4em;
  width:auto;
}

h2 a > i {
  font-size: $base-font-size * .5; // 16 * 1.5 = 24px
  visibility: hidden;
}
h2 a:hover > i {
  visibility: visible;

  @include animation(scale 1.0s ease-in, slide 2.0s ease);
}
