<div class="full-width-bar" id="{{ charge.name|lower|replace(' ', '-') }}">
  <div class="grid">
    {% if object.image_path %}{% comment %} we only want this left side (and the "righ-side" class below) if there is an image, which would be on the case page only {% endcomment %}
      <div class="left-side">
        <img src="{{ site.image_url}}{{ object.image_path }}?w=180&h=180&fit=clamp&exp=1" style="margin-top:8px;">
        &nbsp;
      </div>
    {% endif %}
    <div{% if object.image_path %} class="right-side"{% endif %}>
      <h2 class="h3 m0">
        <a href="{{ object.url }}">
          {{ object.title }}
        </a>
      </h2>
      {% if object.description %}
        <p class="m0">
          {{ object.description }}
        </p>
      {% endif %}
      {% if charges %}
      {% for charge in charges  %}
        {% comment %}  REMOVING FOR NOW BECAUSE IT's CONFUSING TO HAVE CASE STATUS AND CHARGES STATUS
        {% if charge.charges_status %}
          <h6>
            <span class="red">
              {{charge.charges_status}}
            </span>
          </h6>
        {% endif %}
         {% endcomment %}
        {% if charge.content %}
          <ul class="accordion">
            <li>
              <a href="javascript:void(0)" class="js-accordion-trigger flex-title"><h6>Allegations & Charges <i class="icon-down-open" style="position:absolute;right:3;bottom:3;"></i></h6></a>
              <ul class="submenu">
              {% if charge.content %}
                  {{ charge.content | markdownify }}
                {% endif %}
              </ul>
            </li>
          </ul>
        {% endif %}
      {% endfor %}

      {% endif %}
      {% comment %} {% assign case_id = charge.related_case._id %} {% endcomment %}
      {% if events %}
        <ul class="accordion">
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger flex-title"><h6>Key Events <i class="icon-down-open" style="position:absolute;right:3;bottom:3;"></i></h6></a>
              <ul class="submenu">
              
              {% for event in events %}
                  <li {% if forloop.index > 1 %}class="list"{% endif %}>
                    {% if event.content %}
                      {{ event.content | markdownify }}
                    {% endif %}
                    <strong>
                      {% if event.action %}
                        {{ event.action }}
                      {% endif %}
                      {% if event.event_date %}: {{ event.event_date |date: '%B %e, %Y' }}{% endif %}
                    </strong>
                  </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>
