<div class="full-width-bar"{% if object.featured_image_path %} style="min-height:425px;"{% endif %}>
  <strong>{% include _date-format.html %}</strong>
  {% if object.title %}
    <h3>
      {{ object.title }}
    </h3>
  {% endif %}
  {% if object.featured_image_path %}
      <img src="{{ object.featured_image_path }}" style="float:left;margin-right:1.5em;max-height:225px;">
  {% endif %}
  {% if object.content %}
    <div class="copy">
      {% if page.layout == 'home' %}
        {{ object.content | markdownify | truncatewords: 50 }}
        {% else %}
        {{ object.content | markdownify }}
      {% endif %}
    </div>
  {% endif %}
  {% if object.venue or object.address %}
    <p style="display:inline-block;margin-right:2em;">
      <a href="{{ object.url }}">
        <strong>
          Details
        </strong>
      </a>
    </p>
  {% endif %}
  {% if object.recap_link %}
    <p>
      <a href="{{ object.recap_link }}">
        <strong>
          {% if page.layout == 'home' %}
            &raquo; Click here for the full report
          {% else %}
            &raquo; Permanent Link to the full report
          {% endif %}
        </strong>
      </a>
    </p>
  {% endif %}
</div>
