 {% comment %}
 <!-- assign section = site.documents | where: 'collection', page.collection | sort: 'order', 'last'  -->
 using these conditionals is faster than looping through all the collections
 {% endcomment %}
{% if page.menu == 'about-the-icc' %}
  {% assign section = site.documents | where: 'collection', 'about-the-icc' | sort: 'order', 'last' %}
{% elsif page.menu == 'links-home-page' %}
  {% assign section = site.data.links-home-page %}
{% else %}
  {% assign section = site.documents | where: 'collection', 'the-aba-icc-project' | sort: 'order', 'last' %}
{% endif %}

{% if page.collection == 'board-of-advisors' %}
  {% assign local_menu = site.documents | where: 'collection', 'board-of-advisors' | sort: 'last_name', 'last' %}
  {% assign heading = 'Board Members' %}
{% endif %}

{% if page.collection == 'countries' or page.collection == 'situations' %}
  {% assign country_menu = site.situations | sort: 'title', 'last' %}
  {% assign heading = 'Situations & Preliminary Examinations' %}
  {% assign cases = site.cases | where: 'country', page.slug %}
  {% assign country = page.title %}
{% endif %}

{% if page.collection == 'cases'  %}
  {% assign country_menu = site.cases | sort: 'title', 'last' %}
  {% assign heading = 'Cases' %}
  {% assign cases = site.cases | where: 'country', page.country %}
  {% assign countries = site.countries | where: 'slug', page.country %}
  {% assign country = countries[0].title %}
{% endif %}

{% if page.collection == 'accused' %}
  {% assign country_menu = site.accused | sort: 'title', 'last' %}
  {% assign heading = 'Accused' %}
  {% assign cases = site.cases | where: 'country', page.country %}
  {% assign countries = site.countries | where: 'slug', page.country %}
  {% assign country = countries[0].title %}
{% endif %}

<nav>

{% comment %}PRIMARY MENU DETERMINED BY SECION - every template should define which global menu to use {% endcomment %}
{% if local_menu %}

  <ul class="nav-sidebar accordion">
    <li class="nav-sidebar-item">
      <a href="javascript:void(0)" class="js-accordion-trigger menu-item">
        {{ heading }} +
      </a>
      <ul class="submenu">
        {% for link in local_menu %}
          {% include _nav-menu-item.html %}
        {% endfor %}
      </ul>
    </li>
    <li class="nav-sidebar-item">
      <a href="javascript:void(0)" class="js-accordion-trigger menu-item">
       Main Menu +
      </a>
      <ul class="submenu">
        {% for link in section %}
          {% include _nav-menu-item.html %}
        {% endfor %}
      </ul>
    </li>
  </ul>

{% elsif country_menu %}
  <ul class="nav-sidebar accordion">

    <li class="nav-sidebar-item">
      <a href="javascript:void(0)" class="js-accordion-trigger menu-item">
       Main Menu +
      </a>
      <ul class="submenu">
        {% for link in section %}
          {% include _nav-menu-item.html %}
        {% endfor %}
      </ul>
    </li>


    <li class="nav-sidebar-item">
      <a href="javascript:void(0)" class="js-accordion-trigger menu-item">
        {{ heading }} +
      </a>
      <ul class="submenu">
        {% for link in country_menu %}
          {% assign country_link = link.country %}
          {% comment %} Note the hack to make country URLs not go to situations, which don't have pages. probably better than adding separate logic {% endcomment %}
        <li class="nav-sidebar-item" tabindex="{{ forloop.index | plus: 7 }}" data-ga-click="nav, go to explore, text:{{ link.title }}">
          <a href="{% if page.url contains '/country/' %}/country/{{ country_link }}{% else %}{{ link.url }}{% endif %}" class="menu-item{% if link.url == page.url %} active{% endif %}">
            {{ link.title }}
          </a>
        </li>

        {% endfor %}
      </ul>
    </li>

    <li class="nav-sidebar-item" data-ga-click="nav, go to explore, text:Situation & Cases Map">
      <a href="/about-the-icc/situations-cases/" class="menu-item">
        Situation & Cases Map
      </a>
    </li>

</ul>

  {% if cases.size > 0 %}
    <ul class="nav-sidebar" style="margin-top:2em;">
      <li class="nav-sidebar-item">
        <strong>
          <a href="{{ page.link }}" class="menu-item">
            Cases in {{ country }}
          </a>
        </strong>
      </li>
      {% for object in cases %}
        <li class="nav-sidebar-item">
          <a href="{{ object.url }}"  class="menu-item">
            {{ object.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% elsif section %}
  <ul class="nav-sidebar">
    {% for link in section %}
      {% include _nav-menu-item.html %}
    {% endfor %}
  </ul>
{% endif %}

</nav>
