{% assign countries = site.situations | group_by: 'country' | sort: 'name' %}
{% assign preliminary_examinations_color = 'green' %}
{% assign trials_color = 'black' %}

{% for country in countries %}
  {% assign situations = country.items %}
  {% assign situationCountry = site.countries | where: 'slug', country.name %}
  {% assign cases = site.cases | where: 'country', country.name | sort: 'trial_opening_date', 'first' | reverse %}

  <div class="full-width-bar" id="{{ url(object)|replace('/country/', '')|replace('/', '') }}">
    {% for object in situations %}
      <div class="bg-white p3 border border-silver mb3 rounded">
        <div class="left-side-wide">
          {% comment %} get the situation title and link to the situation country. {% endcomment %}
          {% if situationCountry %}
            {% comment %} ONLY if it's the first situation for that country {% endcomment %}
            {% if forloop.index == 1 %}
              <h2>
                <a href="{{ situationCountry[0].url }}">
                  {{ object.title }}
                </a>
              </h2>
            {% else %}
              <h3 style="font-size:1.125rem">
                <a href="{{ situationCountry[0].url }}">
                  {{ object.title }}
                </a>
              </h3>
            {% endif %}
          {% endif %}
          {% comment %} get the current phase of the case {% endcomment %}
          <small>
            {{ object.phase }}
          </small>

          <hr />
          {% if forloop.index == 1 %}{% comment %} GET THE CASES FOR A GIVEN COUNTRY  - ONLY if it's the first situation for that country {% endcomment %}
            {% for case in cases   %}
              <ul>
                <li>
                  <strong>
                    <a href="{{ case.url }}">
                      {{ case.title }}
                    </a>
                  </strong>
                  {% if case.case_status %}
                    <br />
                    <small>
                      {{ case.case_status }}
                    </small>
                  {% endif %}
                  <ul>
                    {% comment %} list the accused  for each case {% endcomment %}
                    {% for accused in case.accuseds %}
                      {% assign theAccused = site.accuseds | where: 'slug', accused %}
                      <li>
                        <a href="{{ theAccused[0].url }}">
                          {{ theAccused[0].title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            {% endfor %}
      {% endif %}
        </div> {% comment %} END /left-side-wide {% endcomment %}
        <div class="right-side-narrow" style="padding-top:.5em;">
          {% if object.content %}
            {{ object.content | markdownify }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
