<nav class="js-menu sliding-menu-content">
  <div class="sliding-menu-content-inner">
    <a href="/" class="logo hidden-small-screens">
      <img src="/assets/img/logo-aba-icc_144xb.png" alt="">
    </a>
    <div class="column-left">
      <p>The ABA-ICC project’s mission is to strengthen, regularize, and broaden U.S. engagement with the ICC by creating dynamic forums where meaningful and sustained dialogue can occur on both practical and policy... <a href="/the-aba-icc-project/about-the-project/">&raquo; read more</a></p>
      <p>Visit our Sister Site</p>
      <h6><a href="http://www.international-criminal-justice-today.org/">International Criminal Justice Today</a></h6>
      <!-- <h6><a href="http://www.aba-icc.org/">ABA-ICC</a></h6> -->
    </div>
    <div class="column-right">
      <ul class="nav-small">
        {% include nav/navigation-global.html %}
      </ul>
    </div>
  </div>
</nav>
<div class="js-menu-screen menu-screen"></div>