{% comment %}
<li class="nav-link{% if page.url contains ' ' %} active-nav-item{% endif %}">
    <a href="/"><i class="icon-home"></i></a>
</li>
{% endcomment %}
<li class="nav-link{% if page.url contains '/the-aba-icc-project/about-the-project/' %} active-nav-item{% endif %}">
    <a href="/the-aba-icc-project/about-the-project/">About the Project</a>
</li>
<li class="nav-link{% if page.url contains '/the-aba-icc-project/news/' %} active-nav-item{% endif %}">
    <a href="/the-aba-icc-project/news/">News & Events</a>
</li>

<li class="nav-link{% if page.url contains '/about-the-icc/' or page.url contains '/evolution-of-international-criminal-justice/' or page.url contains '/structure-of-the-icc/' %} active-nav-item{% endif %}">
    <a href="/about-the-icc/">About the ICC</a>
</li>
<li class="nav-link{% if page.url contains '/the-aba-icc-project/contact/' %} active-nav-item{% endif %}">
    <a href="/the-aba-icc-project/contact/">Contact</a>
</li>
