{% capture the_collection %}{{page.collection}}{% endcapture %}
{% assign nexturl = page.previous.url %}
{% assign prevurl = page.next.url %}
{% if page.collection %}
  {% assign  document = site[the_collection] %}
{% endif %}

<div class="section-heading">
  {% if page.sidebar_heading %}
    <h4>{{page.sidebar_heading | markdownify | remove: '<p>' | remove: '</p>'  }}</h4>
  {% endif %}
</div>
<nav class="card-menu columns-small">
  <ul class="nav-sidebar">
    {% capture entries_limit %}{{include:limit}}{% endcapture %}
    {% for links in document limit:{{entries_limit}} %}
      {% unless links.dont-show-in-menu %}
      <li class="nav-sidebar-item {{ links.category }}">
      {% capture title %}{{ links.title }}{% endcapture %}
        <a href="{{ links.url }}" class="arrow {% unless page.section == 'home' %}{% if links.url contains page.url %} arrow-left{% endif %}{% endunless %}">{{ title | truncate:45 }}</a>
      </li>
        {% comment %}the first if statement looks through and creates prev/next links, the index statement below it creates a next url for the index page outside of this loop
          TODO: Make first loop back to index
        {% endcomment %}
      {% if links.title == page.title %}
        {% unless forloop.first %}
          {% assign prevurl = prev.url %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = next.url %}
        {% endunless %}
      {% endif %}
      {% if page.url contains '/index.html' %}{% comment %}TODO: THIS MAY CHANGE to '' IF MOVE TO NON HTML FILE ENDING{% endcomment %}
        {% if forloop.first %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = links.url %}
        {% endif %}
      {% endif %}
      {% assign prev = links %}
      {% endunless %}
    {% endfor %}
  </ul>
</nav>

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};


// TODO: Attempting to add touch/swipe capabilities. clean out if unused
// function processingRoutine() {
//   var swipedElement = document.getElementById(triggerElementID);
//   if ( swipeDirection == 'left' ) {
//       window.location.href = '{{prevurl}}';
//   } else if ( swipeDirection == 'right' ) {
//       window.location.href = '{{nexturl}}';
//   }
// };


</script>
<div class="prev-nxt-icons" style="margin:4em 0;">
  {% if prevurl %}<a href="{{prevurl}}" class="prev"><i class="icon-left-openTK icon-chevron-left"></i></a>{% endif %}
  {% if nexturl %}<a href="{{nexturl}}" class="nxt"><i class="icon-right-openTK icon-chevron-right"></i></a>{% endif %}
</div>
