{% assign charges = site.cases-charges | where: 'accused', object.slug  %}
{% assign events = site.cases-events | where: 'accused', object.slug | sort: 'event_date', 'last' %}
{% capture object_slug %}{{ page.slug }}{% endcapture %}

<div class="full-width-bar" id="{{ charge.name|lower|replace(' ', '-') }}">
  <div class="grid">
    <div class="left-side">
      {% if object.image_path %}
        <img src="{{ site.image_url}}{{ object.image_path }}?w=180&h=180&fit=clamp&exp=1" style="margin-top:8px;">
      {% endif %}
        &nbsp;
    </div>
    <div class="right-side">
      <h2 class="h3 m0">
        <a href="{{ object.url }}">{{ object.title }}</a>
      </h2>
      {% if object.description %}
        <p class="m0">{{ object.description }}</p>
      {% endif %}
      {% if charges %}
        {% include _case-charges.html %}
      {% endif %}
      {% comment %} EVENTS {% endcomment %}
      {% comment %} {% assign case_id = charge.related_case._id %} {% endcomment %}
      {% if events %}
        {% include _case-events.html %}
      {% endif %}
      {% comment %} END Events {% endcomment %}
    </div>
  </div>
</div>
