{% assign charges = site.cases-charges | where: 'accused', page.slug  %}
{% assign events = site.cases-events | where: 'accused', page.slug  %}
{% assign events = events | sort: 'event_date', 'last' %}
{% assign object_slug = object.slug %}
<div class="full-width-bar" id="{{ charge.name|lower|replace(' ', '-') }}">
  <div class="grid">
      <h2 class="h3 m0">
        <a href="{{ object.url }}">{{ object.title }}</a>
      </h2>
      {% if object.description %}
        <p class="m0">{{ object.description }}</p>
      {% endif %}
      {% comment %} charges {% endcomment %}
      {% if charges %}
        {% include _case-charges.html %}
      {% endif %}
      {% comment %} EVENTS {% endcomment %}
      {% comment %} {% assign case_id = charge.related_case._id %} {% endcomment %}
      {% if events %}
        {% include _case-events.html %}
      {% endif %}
      {% comment %} END Events {% endcomment %}
  </div>
</div>
