{% comment %} case status {% endcomment %}
<div class="has-layout row row-first small">
  <ul class="inline-block" style="margin:0;padding:0;">
      {% if page.country %}
        <li>
          <strong>Country: </strong>
          <a href="{{ country[0].url }}">{{ country[0].title }}</a>
        </li>
    {% endif %}

    {% if page.case_status %}
      <li>
        <strong>Case Status: </strong>
        {{ page.case_status }}
      </li>
    {% endif %}
    {% if page.trial_opening_date %}
    <li>
      <strong>Trial Opening: </strong>

      {{ page.trial_opening_date | date: '%B %e, %Y' }}
    </li>
    {% endif %}

    {% if page.note %}
      <li class="small">
        (<em>{{ page.note }}</em>)
      </li>
    {% endif %}

  </ul>
</div>
