<div class="navigation-special fixed-nav" role="contextual navigation">
  <div class="navigation-wrapper">

    <nav role="navigation">
      <ul class="breadcrumb">
        <li class="nav-linktk  section-1 section-1">
          <a href="javascript:void(0)">Referrals & Communication</a>
        </li>
        <li class="nav-linktk  section-2">
          <a href="javascript:void(0)">Preliminary Examination</a>
        </li>
        {% comment %}
        <li class="nav-linktk  section-2">
          <a href="javascript:void(0)">Jurisidiction</a>
        </li>
        <li class="nav-linktk  section-2">
          <a href="javascript:void(0)">Admissibility</a>
        </li>
        <li class="nav-linktk  section-2">
          <a href="javascript:void(0)">Interests of Justice</a>
        </li>
         {% endcomment %}
        <li class="nav-linktk  section-3">
          <a href="javascript:void(0)">Investigation</a>
        </li>
        <li class="nav-linktk  section-3">
          <a href="javascript:void(0)">Arrest Warrants & Summons</a>
        </li>
        <li class="nav-linktk  section-3">
          <a href="javascript:void(0)">Confirmation of Charges</a>
        </li>
        <li class="nav-linktk  section-4">
          <a href="javascript:void(0)">Trial & Appeal</a>
        </li>
        <li class="nav-linktk  section-5">
          <a href="javascript:void(0)">Sentencing & Reparations</a>
        </li>

      </ul>
    </nav>

  </div>
</div>
