<aside class="sidebar-right">	
	{% if page.url contains '/evolution-of-international-criminal-justice' %}
		<div class="sidebar-content">
			{% include nav/navigation-local.html %}
		</div>
	{% elsif page.url contains '/arguendo/' %}
		<div class="sidebar-content">		
			{% include nav/nav-arguendo.html %}
		</div>	
	{% else %}
		<div class="sidebar-content">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}
				{{ page.excerpt | markdownify }}
			{% endif %}
		
		{% if page.url contains '/news/' %}	
			<!--<h5>Upcoming Events</h5>  TODO: Need to make this go away if there are no events -->
			<hr />
			<div id="calendar"></div>
		{% endif %}
		</div>

			{% include nav/prev-next-links.html %}

		<div class="sidebar-content hidden-small-screens">
			<hr />
			{% if page.tweets > 0 %}
				{% capture tweet_count %}{{page.tweets}}{% endcapture %}
				{% include snippets/twitter-tweets.html count='1' %}
			{% endif %}
				{% if page.twitter_list == true %}
				{% include snippets/twitter-list.html count='3' %}
			{% endif %}
		</div>
	{% endif %}  
</aside>