{% capture the_collection %}{{page.collection}}{% endcapture %}
{% assign  articles = site.arguendo | where: 'type', -'question' | sort: 'date' | reverse   %}
{% assign  questions = site.[the_collection] | where: 'type', 'question' | sort: 'date' | reverse %}
{% capture the_question %}{{ page.question }}{% endcapture %}
{% capture  the_author %}{{ page.author }}{% endcapture %}

{% if page.url contains '/article/' %}
  <h1>{{page.question}}</h1>
  <hr />
  <h4>Responses</h4>
  <nav class="card-menu columns-small">
    <ul class="nav-sidebar">
      {% for links in articles %}{% comment %}EXCLUDES the Index file{% endcomment %}
        {% if links.question == page.question %}
          {% capture  the_author %}{{ links.author }}{% endcapture %}
          {% assign  authors = site.data.people | where: 'last_name', {{the_author}}  %}
          <li class="nav-sidebar-item ">
            <a href="{{ links.url }}" class="arrow {% if links.url == page.url %} arrow-left{% endif %}">
              {% for article_author in authors %}{{article_author.name}}{% endfor %}
            </a>
          </li>
        {% comment %}the first if statement looks through and creates prev/next links, the index statement below it creates a next url for the index page outside of this loop
          TODO: Make first loop back to index
        {% endcomment %}
          {% if links.title == page.title %}          
            {% unless forloop.first %}
              {% assign prevurl = prev.url %} 
            {% endunless %}
            {% unless forloop.last %}
              {% assign next = document[forloop.index] %}
              {% assign nexturl = next.url %}
            {% endunless %}
          {% endif %}
          {% if page.url contains '/index.html' %}{% comment %}TODO: THIS MAY CHANGE to '' IF MOVE TO NON HTML FILE ENDING{% endcomment %}
            {% if forloop.first %}
              {% assign next = document[forloop.index] %}
              {% assign nexturl = links.url %}
            {% endif %}
          {% endif %}
          {% assign prev = links %}
          {% endif %}
        {% endfor %}
    </ul>


    {% for links in questions %}{% comment %}EXCLUDES the Index file{% endcomment %}
      {% if links.title == the_question %}
       <small>   {{ links.content | markdownify }}</small>
      {% endif %}
    {% endfor %}






  </nav>

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};


// TODO: Attempting to add touch/swipe capabilities. clean out if unused
// function processingRoutine() {
//   var swipedElement = document.getElementById(triggerElementID);
//   if ( swipeDirection == 'left' ) {
//       window.location.href = '{{prevurl}}';
//   } else if ( swipeDirection == 'right' ) {
//       window.location.href = '{{nexturl}}';
//   } 
// };


</script>
{% else %}

<small>{{ site.collections[the_collection].description | markdownify }}</small>

{% capture the_collection %}{{page.collect}}{% endcapture %}
{% assign  questions = site.arguendo | where: 'type', 'question' | sort: 'date' | reverse %}

{% if site.[the_collection].description %}
{{  site.[the_collection].description | markdownify  }}
{% endif %}



<nav class="card-menu columns-small">
  <ul class="nav-sidebar">
    {% for links in questions %}{% comment %}EXCLUDES the Index file{% endcomment %}
      <li class="nav-sidebar-item ">
        <a href="{{ links.url }}" class="arrow {% if links.url contains page.url %} arrow-left{% endif %}">{{links.title}}</a>
      </li>
        {% comment %}the first if statement looks through and creates prev/next links, the index statement below it creates a next url for the index page outside of this loop
          TODO: Make first loop back to index
        {% endcomment %}
      {% if links.title == page.title %}          
        {% unless forloop.first %}
          {% assign prevurl = prev.url %} 
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = next.url %}
        {% endunless %}
      {% endif %}
      {% if page.url contains '/index.html' %}{% comment %}TODO: THIS MAY CHANGE to '' IF MOVE TO NON HTML FILE ENDING{% endcomment %}
        {% if forloop.first %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = links.url %}
        {% endif %}
      {% endif %}
      {% assign prev = links %}
    {% endfor %}
  </ul>
</nav>

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};


// TODO: Attempting to add touch/swipe capabilities. clean out if unused
// function processingRoutine() {
//   var swipedElement = document.getElementById(triggerElementID);
//   if ( swipeDirection == 'left' ) {
//       window.location.href = '{{prevurl}}';
//   } else if ( swipeDirection == 'right' ) {
//       window.location.href = '{{nexturl}}';
//   } 
// };


</script>

{% endif %}