<aside class="sidebar-right">	
	{% if page.url contains '/evolution-of-international-criminal-justice' %}
		{% include nav/navigation-local.html %}
	
	{% elsif page.url contains '/arguendo/' %}		
		{% include nav/nav-arguendo.html %}

	{% else %}
		<h1>{{ page.title }}</h1>
		{% if page.excerpt %}
			{{ page.excerpt | markdownify }}
		{% endif %}

				{% if page.url contains '/news/' %}	
	<h2>Upcoming Events</h2> <!-- TODO: Need to make this go away if there are no events -->
		<div id="calendar"></div>
{% endif %}


{% include articles/prev-next-links.html %}



		<div class="hidden-small-screens">
			<hr />
			{% if page.tweets > 0 %}
				{% capture tweet_count %}{{page.tweets}}{% endcapture %}
				{% include snippets/twitter-tweets.html count='1' %}
			{% endif %}
			{% if page.twitter_list == true %}
				{% include snippets/twitter-list.html count='3' %}
			{% endif %}
		</div>
	  <!-- include articles/prev-next-links.html  -->
	{% endif %}  
</aside>
<!-- /aside -->		