{% assign global_links = site.data.navigation.projects %}
{% assign highlights_links = site.data.navigation.highlights %}

<!-- <li class="top"><a href="/">Home <i class="icon-home"></i></a></li> -->
	<hr />
<li class="heading">Projects</li>
	{% for links in global_links %}		
		<li id="{{links.slug}}" class="nav-sidebar-item{% if page.slug contains /links.slug/  %} active{% endif %}">
			<a href="/{{links.slug}}">{{links.title}}</a>
		</li>
	{% endfor %}
<hr />
<li class="heading">Highlights</li>
	{% for links in highlights_links %}		
		<li id="{{links.slug}}" class="nav-sidebar-item{% if page.url contains /links.slug/  %} active{% endif %}">
			<a href="/{{links.slug}}/">{{links.title}}</a>
		</li>
	{% endfor %}
<hr />