{% extends "templates/partials/base-layout-individual.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% set content_type = cms.theabaiccproject %}    
{% block sideMenu %}
  {% include "templates/partials/menu-abaiccproject.html" %}
{% endblock %}
{% block content %}
{% parent %}
{% if getCurrentUrl() == '/follow/' %}
  <div class="full-width-bar"> {% include "templates/partials/mailing-list.html" %}</div>
{% endif %}
{% endblock %}