{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% set content_type = cms.news %}    
{% block sideMenu %}
  {% include "templates/partials/menu-side.html" %}
{% endblock %}

{% block content %}
  {% parent %}
  {% set data = cms.staff %}  
  <section class="news">
    {% for object in data|sort('last_name') %}{#  //Sort  events with first upcoming at top #}
      <div class="full-width-bar">      
        {% include "templates/partials/format-list.html" %}
      </div>
    {% endfor %}
  </section>
{% endblock %}