{% extends "templates/partials/base-layout-individual.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% set content_type = cms.news %}    
{% block sideMenu %}
  {% include "templates/partials/menu-abaiccproject.html" %}
{% endblock %}

{% block content %}
  {% parent %}
  {% set data = cms.news %}  
  {% set data = data|sort('name')  %}

  <section class="news">
    {% for object in data%}{#  //Sort  events with first upcoming at top #}
      <div class="full-width-bar" style="min-height:285px;">      
        {% include "templates/partials/format-list.html" %}
      </div>
    {% endfor %}
  </section>
{% endblock %}


{# |sort('publish_date', true)  #}