---
layout: default
section: article
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% assign  questions = site.[the_collection] | where: 'type', 'question' %}
{% capture the_question %}{{ page.question }}{% endcapture %}
{% assign  articles = site.arguendo | where: 'type', -'question' | sort: 'date' | reverse   %}
<section class="content">
  {% if page.splash_image %}
	 {% include global/page-splash.html %}
  {% endif %}
  {% if page.include %}
    {% include {{page.include}} %}
  {% endif %}



  <div class="layout-article">
<h2>Arguendo</h2>
<header>
     {% if page.title %}
    <h1 class="entry-title">{{page.title}}</h1>
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}
    {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}
    
  </header>


<aside>
    <strong>{{the_question}}</strong>
    {% for links in questions %}{% comment %}EXCLUDES the Index file{% endcomment %}
      {% if links.title == the_question %}
       <small>   {{ links.content | markdownify }}</small>
      {% endif %}
    {% endfor %}
  </aside>

    <article class="hentryTK {% if page.class %}{{page.class}}{% endif %}">
  
  <div class="entry-content prose columns-2 "><!--  //CONTENT -->
    {{ content }}
  </div>
  {% if site.include_addthis_sharing %}
    <div class="sharing">
      {% include articles/sharing.html %}
    </div>
  {% endif %}
    <!-- include global/edit.html -->
</article>
</div>





</section>


