---
layout: default
section: page
---
{% if page.splash_image %}
   {% include global/page-splash.html %}
  {% endif %}
<section class="content">
  {% if page.include %}
    {% include {{page.include}} %}
  {% endif %}
  <article class="hentry {% if page.class %}{{page.class}}{% endif %}">  
    <div class="entry-content prose columns-2 "><!--  //CONTENT -->
    <h1 class="entry-title">{{ page.title }}</h1>
      {{ content }}
    </div>
  <!-- include global/edit.html -->
  </article>
</section>


