{% include global/head.html %}
{% if page.collection %}
	{% capture the_collection %}{{page.collection}}{% endcapture %}
{% endif %}
	<body class="{{page.section}}{% if page.category %} {{ page.category | replace: ' ','-' | downcase}}{% endif %}{% if page.categories %} {{page.categories | first}}{% endif %}{% if page.splash_image %} content_splash{% endif %}{% if page.sidebar_width %} {{ page.sidebar_width }}{% endif %}{% if page.class %} {{ page.class }}{% endif %} {{site.collections.[the_collection].class}}">
		{% include nav/nav-top.html  %}
		
		{% include nav/nav-side-right.html %}
		
		{{content}}
		

		<aside id="menu-local" class="hidden-large-screens">
			{% include nav/prev-next-links.html  limit="25" %}
		</aside>

		 {% include global/footer.html %}
		{% include global/scripts.html %}
	</body>
</html>

