---
layout: default
section: page
---
{% if page.splash_image %}
    {% include global/page-splash.html %}
  {% endif %}
<section class="content">
  <article class="hentry {% if page.class %}{{page.class}}{% endif %}">
    <header>
       {% if page.title %}
      <h1 class="entry-title">{{page.title}}</h1>
      {% endif %}
      {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
      {% endif %}
    </header>
    <div class="entry-content prose columns-2 "><!--  //CONTENT -->
        {% if page.image %}


          {% if page.image contains 'http' %}
            {% capture image_url %}{{page.image}}{% endcapture %}
          {% else %}
            {% capture image_url %}/assets/img/{{page.image}}{% endcapture %}
          {% endif %}
            

            <img src="{{image_url}}" style="max-width:300px;">


        {% endif %}

      {{ content }}
    </div>
      <!-- include global/edit.html -->
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
  </article>
</section>


