---
---

// REQUIRED
@import "libs/_normalize";
@import "libs/bourbon/bourbon";
@import "bitters/bitters";
@import "libs/neat/neat";


@import "libs/font-icons-ion";

// BASIC MODULES
@import "modules/article";
@import "modules/navigation-side";
@import "modules/refills/nav-top";
@import "modules/refills/grid-items"; // HOME PAGE
@import "modules/refills/grid-items-lines"; // BIO PAGE
@import "modules/refills/hero";

// OPTIONAL MODULES
@import "modules/refills/tables";
/////////////////////////////////@import "modules/columns";
@import "modules/comments";
@import "modules/page-splash";
@import "modules/pager-icons";
@import "modules/layouts";
@import "modules/cycle-slideshow";
@import "modules/item-list";
@import "modules/refills/card";
.content {
	background-color: $content-color-background;
  height: auto;
	min-height: 1200px;
}

 li.follow {
	text-align: center;
	border-radius: 3px;
	border: 1px solid darken($navigation-background, 5%);
	padding: .5em 0 .45em 2em;
	margin-right: 1em;
}

.hidden-small-screens {
	display: none;
    @include media($large-screen-up) {
      display: block;
    }
}
// body.home {
// 	background-color: $sidebar-right-color-background;
// }

.selected {
	background-color: red;
	color: black;
}

body.card-timeline blockquote{
  display: none;
}
body.card-timeline article p{
  font-size:110%;
}

.bio {
	margin-left:0;
	margin-right:1em;
	display:inline-block;
	float:left;

}
.bio img {
	//border-radius: 50%;
	max-width: 150px;
	float: left;
	}
