a.js-accordion-trigger-footnotes {
  padding:.125em .25em;
  border:1px solid #c9c9c9;
  border-radius:2px;
  margin-bottom:5em;
  font-size:.85em;
}
.footnotes {
  border-top: 1px solid #ddd;
  margin-top: 2em;
  margin-bottom: 1em;
}

.full-width-bar .is-expanded {
  padding-bottom: 5em;
}
