.hero-large {
  $hero-background: $blue;
  $hero-background-top: darken($hero-background, 1%);//white;//darken($gray, 25);
  $hero-background-bottom: darken($hero-background, 10%);//adjust-hue($hero-background-top, 70);
  $hero-color: $medium-gray;
  $gradient-angle: 10deg;
  //$hero-image: '/assets/images/island.jpg';
  //$hero-image: 'http://lh4.ggpht.com/AIJ5GM0fkUgOnsUzskfu_W1qDA0NTdESMYxu5VRhAalw2NpxqqKKgepPmFpdhSSWXBvFPectUnpxJRI33PiNqbFxgMAOW6P2wg';
//$hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
//  $hero-image: '/assets/images/night-2.png';
$hero-image: '/assets/images/icc-permanent_45op.png';
//$hero-image: '/assets/images/laatnightcomp.png';
background-color:#000;

@include
background(url($hero-image),
linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll
  );
  //@include background(url($hero-image)));

//background-image: url($hero-image);

  background-repeat: no-repeat;
  background-position: left top;
  @include media($x-large-screen-up) {
    height: 70vh;
    background-size: cover;
  }
  padding-bottom: 3em;
  background-attachment: fixed;


  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 2em 3em 3em 2em;
    margin: auto;
    text-align: center;
    color: $hero-color;
    li {
        //font-family: $brand-font-family;
        font-size: 1.2em;
        margin-bottom: 1em;
      }

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: left;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;
        color: white;// $red;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.1;
        //font-family: $brand-font-family;
        @include media($large-screen) {
          font-size: 6em;
        }
      }

      a {
        //color: darken($light-gray, 95%);
        //color: $hero-color;
        color: $red;
        color: $hero-color;
        //border-bottom: 1px dashed $hero-color;
      }

      blockquote {
        //background-color: #000;
        //background-color: rgba(0,0,0,0.95);
        //padding: 1em;
        color: white;

        margin:0;
        @include media($medium-screen) {
          font-size: 1.75em;
        }
      }
      li {
      font-size: .75em;
       a{
        color: #ccc;
        &:hover {
          color: #999;
        }

      }
      &:not(:last-child){
    a:after {
        content: " |";
    }
  }

    }

      // p {
      //   font-family: $serif;
      //   margin: auto;
      //   margin-bottom: 3em;
      //   font-weight: 200;
      //   line-height: 1.4em;

      //   @include media($large-screen) {
      //     font-size: 1.1em;
      //     max-width: 40%;
      //   }
      // }
    }
  }
}
