.navigation-special {
  background-color: white;
}

  .breadcrumb {
      list-style: none;
      overflow: hidden;
//      font: 18px Helvetica, Arial, Sans-Serif;
      width: 100%;
    }
    .breadcrumb li {
      float: left;
      font-size: .875rem;
      line-height: $navigation-height *.5;
      width: 100%;
      @include media($large-screen) {
        width: auto;
        line-height: $navigation-height;
      }
    }
    .breadcrumb li a {
      width: 100%;
      color: white;
      text-decoration: none;
      padding: 10px 0 10px 55px;
      background: brown;                   /* fallback color */
      background: hsla(34,85%,35%,1);
      position: relative;
      display: block;
      float: left;
    }

    @include media($large-screen) {
    .breadcrumb li a:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
      border-bottom: 50px solid transparent;
      border-left: 30px solid hsla(34,85%,35%,1);
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 100%;
      z-index: 2;
    }
    .breadcrumb li a:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 1px;
      left: 100%;
      z-index: 1;
    }
    .breadcrumb li:first-child a {
      padding-left: 10px;
    }

  }
    // .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
    // .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
    // .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
    // .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
    // .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
    // .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
    // .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
    // .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }

$base-bg: $blue-dark;


    
    .breadcrumb li.jurisdictional-triggers a, #jurisdictional-triggers       { 
      background: lighten($base-bg, 60%); 
    }
    .breadcrumb li.jurisdictional-triggers a:after { 
    border-left-color: lighten($base-bg, 60%); 
    }




    .breadcrumb li.referrals-and-communication a, #referrals-and-communication { 
      background:  lighten($base-bg, 0%); 
    }
    .breadcrumb li.referrals-and-communication a:after { 
      border-left-color: lighten($base-bg, 0%); 
    }

    .breadcrumb li.preliminary-examination a, #preliminary-examination { 
      background: lighten($base-bg, 10%); 
    }
    .breadcrumb li.preliminary-examination a:after { 
      border-left-color: lighten($base-bg, 10%); 
    }

    .breadcrumb li.investigation a, #investigation       { 
      background: lighten($base-bg, 20%); 
    }
    .breadcrumb li.investigation a:after { 
      border-left-color: lighten($base-bg, 20%); 
    }

    .breadcrumb li.arrest-warrant-and-summons a, #arrest-warrant-and-summons {
      background: lighten($base-bg, 30%); 
    }
    .breadcrumb li.arrest-warrant-and-summons a:after {
      border-left-color: lighten($base-bg, 30%); 
    }

    .breadcrumb li.confirmation-of-charges a, #confirmation-of-charges { 
      background: lighten($base-bg, 40%);
    }
    .breadcrumb li.confirmation-of-charges a:after { 
      border-left-color: lighten($base-bg, 40%); 
    }

    .breadcrumb li.trial-and-appeal a, #trial-and-appeal { 
      background: lighten($base-bg, 50%); 
    }
    .breadcrumb li.trial-and-appeal a:after { 
      border-left-color: lighten($base-bg, 50%);
    }

    .breadcrumb li.sentencing-and-reparations a, #sentencing-and-reparations       { 
      background: lighten($base-bg, 60%); 
    }
    .breadcrumb li.sentencing-and-reparations a:after { 
    border-left-color: lighten($base-bg, 60%); 
    }

    


    // .breadcrumb li:last-child a {
    //   background: white !important;
    //   color: black;
    //   //pointer-events: none;
    //   //cursor: default;
    // }
    // .breadcrumb li:last-child a:after { border: 0; }
    .breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
    .breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1); }





.stuck {
  @include media($large-screen) {
  position:fixed;
  top:0;
  z-index: 100000;
   background-color: white;
   width: 100%;
 }

      .breadcrumb li {
        float: left;
        font-size: .875rem;
        line-height: $navigation-height *.5;


        @include media($large-screen) {
          width: auto;
          line-height: $navigation-height *.25;
          @include transition (all 1s ease-in-out);
        }
      }
      .breadcrumb li a {

        padding: 10px 0 10px 55px;

      }

      @include media($large-screen) {
      .breadcrumbTK li a:after {

        border-top: 30px solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: 30px solid transparent;
        border-left: 30px solid hsla(34,85%,35%,1);
        top: 50%;
        margin-top: -30px;
        left: 100%;
        z-index: 2;
      }
      .breadcrumbTK li a:before {

        border-top: 30px solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: 30px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }
      .breadcrumbTK li:first-child a {
        padding-left: 10px;
      }

    }
      // .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
      // .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
      // .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
      // .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
      // .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
      // .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
      // .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
      // .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }

      // .breadcrumb li.section-1 a       { background:        $blue; }
      // .breadcrumb li.section-1 a:after { border-left-color: $blue; }

      // .breadcrumb li.section-2 a       { background:        $blue-dark; }
      // .breadcrumb li.section-2 a:after { border-left-color: $blue-dark; }

      // .breadcrumb li.section-3 a       { background:        $blue-aba-logo; }
      // .breadcrumb li.section-3 a:after { border-left-color: $blue-aba-logo; }



      // .breadcrumb li:last-child a {
      //   background: white !important;
      //   color: black;
      //   pointer-events: none;
      //   cursor: default;
      // }
      // .breadcrumb li:last-child a:after { border: 0; }
      .breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
      .breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }






}

.timelines {
  padding: 3em 0 2em 0;      

  .timeline {
    padding: 3em 3em 3em 4.5em;  
  }
  h2 {
      color: white;
      
      //@include outer-container;
      clear: both;
    }
  .prose {
    padding: 4em 0;
    @include outer-container;
    @include media($large-screen) {
      -moz-column-count: 2;
      -moz-column-gap: 2.5em;
      -webkit-column-count: 2;
      -webkit-column-gap: 2.5em;
      column-count: 2;
      column-gap: 2.5em;
    }
  }
}

.section {
  color: #ddd;

  @include media($large-screen) {
    margin-right: 8em;
    min-height: 90vh;
    overflow: hidden;
    width: 66vw;
    
    p {
      font-size: 1.375em;
    }
  }
  img {
    max-width: 25%;
    float: left;
    margin: .125em 1em .125em 0;
  }
  h3 {
    color: white;
  }
  a {
    color: #ddd;
  }  
}

.columnsTK {
  -moz-column-count: 2;
      -moz-column-gap: 2.5em;
      -webkit-column-count: 2;
      -webkit-column-gap: 2.5em;
      column-count: 2;
      column-gap: 2.5em;
}