{% assign data = site.data.icc-timeline-by-year %}
<div class="timeline">
	{% for item in data %}
		{% if item.timeframe %} {% comment %}one per timeframe, only shows if timeframe{% endcomment %}
			<div id="{{item.timeframe | replace: ' ','-' | downcase }}" class="year">
				{{item.timeframe}}
			</div>
		{% endif %}


		{% if item.event %}




		<section class="event{% if item.featured %} featured{% endif %}">

<div class="cardTwoSided">
			<div class="front">
				{% if item.date %}<h4>{{item.date}}</h4>{% endif %}
				{{ item.event | markdownify }}
			</div>

			

				{% if item.sources %}
				<div class="back">
						{{ item.sources | markdownify }}
				</div>	
				{% endif %}

				</div>

		</section>
		



		{% endif %}
	{% endfor %}
</div>