<div class="navigation-special fixed-nav" role="contextual navigation">
  <div class="navigation-wrapper">

    <nav role="navigation">
      <ul class="list-reset breadcrumb">
        <li class="nav-link-internal  referrals-and-communication section-1">
          <a href="#referrals-and-communication">Referrals & Communication</a>
        </li>
        <li class="nav-link-internal preliminary-examination section-2">
          <a href="#preliminary-examination">Preliminary Examination</a>
        </li>
        {% comment %}
        <li class="nav-link-internal  section-2">
          <a href="#">Jurisidiction</a>
        </li>
        <li class="nav-link-internal  section-2">
          <a href="#">Admissibility</a>
        </li>
        <li class="nav-link-internal  section-2">
          <a href="#">Interests of Justice</a>
        </li>
         {% endcomment %}
        <li class="nav-link-internal investigation section-3">
          <a href="#investigation">Investigation</a>
        </li>
        <li class="nav-link-internal arrest-warrant-and-summons section-3">
          <a href="#arrest-warrant-and-summons">Arrest Warrants & Summons</a>
        </li>
        <li class="nav-link-internal confirmation-of-charges section-3">
          <a href="#confirmation-of-charges">Confirmation of Charges</a>
        </li>
        <li class="nav-link-internal trial-and-appeal section-4">
          <a href="#trial-and-appeal">Trial & Appeal</a>
        </li>
        <li class="nav-link-internal sentencing-and-reparations section-5">
          <a href="#sentencing-and-reparations">Sentencing & Reparations</a>
        </li>

      </ul>
    </nav>

  </div>
</div>
