{% extends "templates/abouttheicc/base.html" %}
{# This sets our page <title>. It will append this accused's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  
  <div class="has-layout row row-bottom-next">
    <ul class="inline-block">
      {% if item.cases_accused %}
        <li>
          <strong>Cases: </strong>
          {% for relation in item.cases_accused %}
            <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </li>
      {% endif %}
    </ul>
  </div>

  <article class="hentry">
    
    {% for relation in item.cases_accused %}
      {% set charges = relation.charges %}      
        <ul>
          {% for row in charges %}
          {% if row.accused._id == item._id %}
            {% include "templates/partials/case-info.html" %}
            {% endif %}
          {% endfor %}
        </ul>
      
      {% endfor %}
  
  </article>

  <div class="has-layout row row-bottom">
    <ul class="inline-block">
      {% if item.image_credit  %}
        <li>
          <strong>image credit: </strong>
          {{ item.image_credit }}
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
