{% assign bios = site.data.aba-icc-board-bios %}


<ul class="grid-items-lines" style="margin:auto;">
  {% for item in bios %}
    <li class="grid-item grid-list-item-image grid-list-item {% cycle 'dark' ,'light' %}">

      
        <span class="figure">
          {% if item.image %}
            <img src="/assets/img/{{item.image}}" alt="">
         {% endif %} 
        </span>
      
        <h2 class="h6">
          <strong>{{item.name}}</strong>
          
            <br />
          <small>{{item.title}}</small>
            
          
        </h2>



    </li>
  {% endfor %}
</li>
