{% assign bios = site.board-of-advisors %}
<section class="grid-items-lines">
  {% for item in bios %}
    <div class="grid-item flipTK">
    <i class="icon-loop" style="display:none;float:right;color:#999;"></i>
      <div class="card-flush">
        <div class="face front">
          <span class="figure">
            {% if item.image %}
              <a href="{{item.url}}"><img src="/assets/img/{{item.image}}" alt=""></a>
            {% endif %}
          </span>
          <h2 class="h6">
            <a href="{{item.url}}"><strong>{{item.title}}</strong></a>
          </h2>
          {% if item.position %}<small>{{item.position | markdownify | remove: '<p>' | remove: '</p>'  }}</small>{% endif %}
          <br /><small><strong><a href="{{item.url}}" style="float:right;">full bio</a></strong></small>
        </div>
        <div class="face back" style="display:none;">
          {% if item.bio %}<small>
          {% capture short_bio %}{{item.bio[]}}{% endcapture %}
         {{ short_bio }}
          </small>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>


