{% assign bios = site.data.people | where: 'board', true | sort: 'last_name' %}
<section class="grid-items-lines">
  {% for item in bios | sort: 'last_name' %}
    <div class="grid-item flip">
    <i class="icon-ion-loop" style="float:right;color:#ccc;"></i>
      <div class="card">
        <div class="face front">
          <span class="figure">
            {% if item.image %}
              <img src="/assets/img/{{item.image}}" alt="">
            {% endif %}
          </span>
          <h2 class="h6">
            <strong>{{item.name}}</strong>
          </h2>
          <small>{{item.title}}</small>
        </div>
        <div class="face back">
          <small>{{ item.bio | truncatewords: 45 }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
</section>


