{% assign countries = site.situations | group_by: 'country' | sort: 'name' %}
{% assign preliminary_examinations_color = 'green' %}
{% assign trials_color = 'black' %}


  "areas":
  [
  {% for country in countries %}
    {% assign situations = country.items %}
    {% assign situationCountry = site.countries | where: 'slug', country.name %}
    {
      {% if situationCountry[0].iso_code %}"id":"{{ situationCountry[0].iso_code }}",{% endif %}
      {% for situation in situations %}
      {% if forloop.index == 1 %}

      "description":"{% if situation.phase %}<p><strong>Phase:</strong> {{ situation.phase | escape }}</p>{% endif %}{% if situation.description %}<p><strong>Overview:</strong> {{ situation.description | escape }}</p>{% endif %}{% if situation.link_to_more_information %}<br /><a href='{{ situation.link_to_more_information }}' target='_blank'>link</a>{% endif %}<hr /><br /><a href='{{ situationCountry[0].url }}'>(Country Page)</a>",


        {% if situationCountry[0].title %}
          "title": "{{ situationCountry[0].title | escape }}",
        {% endif %}


        "color":
        {% if situation.phase == 'Preliminary Examinations, Initial Assessment' %}"#008AE5"
          {% elsif situation.phase == 'Preliminary Examinations, Admissibility Assessment' %}"#0073BF"
          {% elsif situation.phase == 'Preliminary Examinations, Subject Matter Jurisdiction Assessement' %}"#004D7F"
          {% elsif situation.phase == 'Preliminary Examinations, Closed - Decision Not to Proceed' %}"#003354"
          {% elsif situation.phase == 'Situations & Cases' %}"#000"
        {% endif %}
        {% endif %}
      {% endfor %}

    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
