body.map .card-menu {
  position: fixed;
  top: 100px;
  right: 80px;
  z-index: 1000;
  max-width: 170px;

}

.card-menu {

border-radius: $base-border-radius;
    ul {


      padding: 2em 0;
      font-family: $sans-serif;
      font-weight: 400;

    }

    li.active {
          background:lighten($navigation-background, 15%);
      }

    ul li {

        font-size: .9em;
        width: 100%;
        padding: .25em 1em;
        //margin-bottom: .5em;
        line-height: 1.4;

        


        &:hover {
          
        background:lighten($navigation-background, 15%);
        }

      @include media ($large-screen) {

    } 

    a {
      
      color: #ddd;


        &:hover {
          color: $navigation-color-hover;
          
        }
    }


    } //ul li

    @include media ($large-screen) {
      


      }


}


