/* first for IE 4–8 */
@font-face {
  font-family: BlenderProBook;
  src: url("../font/BlenderPro-BookWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: BlenderProBook;
  src: url("../font/BlenderPro-BookWeb.woff") format("woff");
}

/* go on with normal style definitions */
body { 
  font-family: BlenderProBook, sans-serif;
}

////////////// MEDIUM
/* first for IE 4–8 */
@font-face {
  font-family: BlenderProMedium;
  src: url("../font/BlenderPro-MediumWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: BlenderProMedium;
  src: url("../font/BlenderPro-MediumWeb.woff") format("woff");
}

/* go on with normal style definitions */
body { 
  font-family: BlenderProMedium, sans-serif;
}