
  .article {
  //border-top: 4px solid desaturate(darken($base-accent-color, 10), 20);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.15);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.15);
}


// .article and .article-background work together to create a background image overlay

.article {
  padding: 0 1.5em 2em 1em;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 2px;
  position: relative;
  border-bottom: 1px solid darken($light-gray, 5%);
  position: relative;
  margin: 0 0 2em 0;
  h3 {
    clear: both;
    //color: white;
    color: $dark-gray;
    //padding-top: 1.25em;
  }
  .lede {
    position:static;
    bottom: 1em;
    font-size: 90%;
    padding:1em 0 2em 0;
    //text-align: justify;
    color: $dark-gray;
  }
  @include media($medium-screen-up) {
    .lede {
      position:absolute;
      //background-color:wheat;
      padding: 3em 3em 3em 3em;
      top:0;
      bottom: 0;
      left:42%;
    }
    .heading {
      width:42%;
      padding: 0 1em 2em 1em;
      //float: left;
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      //height: 100%;
      //background-color:#ccc;
    }
    border-bottom: none;
    min-height: 300px;
    overflow: hidden;
    //width: 48%;
    //float: left;

  }
}

.article:hover {
  background-color: darken(white, 3%);
  //box-shadow: none;
}

// ==== OVERLAY ====



.article .article-background h3 {
  color: white;
}



.article-background h3 {
    color:white;
    text-shadow: 1px 1px 0 #000;
    background-color: none;
    background-color: rgba(0,0,0,.5);
    width: 100%;

    padding: .75em;
    @include media($medium-screen-up) {
    position:absolute;
    bottom: 1em;
    //padding-right:1em;
    left:0;//.5625em;
    z-index: 100;
  }
  }

  .article-background:hover h3 {
    opacity: 0.2;
        @include transition (all 0.2s ease-in-out);
    background-color:none;
    background-color: rgba(0,0,0,.1);

  }

.heading-small {
  float: left;
  padding: .1875em .4375em .25em .5em;
  background-color:white;
  font-family: $sans-serif;
  font-size: 90%;
  margin-bottom: .75em;
  border-radius: 0 0 3px 3px;
  z-index: 1000;

}
//


//== category headings and buttons
$news-color: darken($brand-color, 5%);
$event-color: lighten($red, 1%);

.news, .event, .event {
  z-index: 100000;
  opacity: 1;
  text-shadow: none;
  box-shadow:none;
}

.news {
  background-color: $news-color;
  color: white;
}

.filter-buttons {
  background-color:none;
  font-family: $sans-serif;
  font-size: 90%;
  //text-align: right;

  button:hover {
    background-color: darken(white, 5%);
    color: white;
  }
}

button.news {
  background: none;
  color: $news-color;
  border: 1px solid $news-color;
}



.event {
  background-color: $event-color;
  color: white;
}

button.event {
  background:none;
  color: $event-color;
  border: 1px solid $event-color;
}


//== END category headings and buttons