//adjusts iframes/videos for responsive view. 
.content object, .content embed, .content iframe {
  max-width: 100% !important;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin-top:0;
  }
//adjusts iframes/videos for responsive view. 
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
//
iframe .map-legend {
  margin-bottom: 300px !important;
  position: absolute;
  top: 200;
}