---
layout: default
section: page
---
<main class="content m-sidebar" role="main">
{% include hero.html %}
{% include _country-meta-data.html %}
<div class="has-layout p3" id="start-of-content">
  <article class="hentry col-12 lg-col-7 mx-auto" role="article">
    {% include _article.html %}
  </article>
  {% if page.timeline %}
    {% include timeline.html %}
  {% endif %}
  {% if page.include %}
    {% include {{ page.include }} %}
  {% endif %}
</div>
</main>
{% include sidebar-right.html %}
