---
layout: default
section: page
---

 {% comment %}<!-- a
TODO: 
 - set color scheme
 - match color scheme to topbar/under to match
 - make topbar link to phase
 - create a fade or something so the page can load
  -->{% endcomment %}

{% assign referrals-and-communication = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/referrals-and-communication'"
  | where: 'process', 'referrals-and-communication'
  
%}
{% assign preliminary-examination = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/preliminary-examination'"
   | where: 'process', 'preliminary-examination' 
  
%}
{% assign investigation = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/investigation'"
  | where: 'process', 'investigation'
  
%}
{% assign arrest-warrant-and-summons = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/arrest-warrant-and-summons'"
  | where: 'process', 'arrest-warrant-and-summons'
  
%}
{% assign confirmation-of-charges = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/confirmation-of-charges'"
  | where: 'process', 'confirmation-of-charges'
  
%}
{% assign trial-and-appeal = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/trial-and-appeal'"
  | where: 'process', 'trial-and-appeal'
  
%}
{% assign sentencing-and-reparations = site.documents
  #| where_exp:"item", "item.path contains '_how-the-court-works/sentencing-and-reparations'"
  | where: 'process', 'sentencing-and-reparations'
  
%}
{% assign slideshowOptions = ' "cellAlign": "left",  "pageDots": false, "freeScroll": true '%}
  

  
<main class="content is-visible" role="main">
{% include hero.html %}
{% include components/nav-how-the-court-works.html %}

  <div class="has-layout timelines" id="start-of-content">
  
    {% include _article.html %}
  
    <div id="referrals-and-communication" class="timeline phase_1">
      <h2>Referrals & Communication</h2>
      <div class="main-carousel{% if referrals-and-communication.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>
        {% for object in referrals-and-communication | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>


    <div id="preliminary-examination" class="timeline phase_2">
      <h2>Preliminary Examination</h2>
      <div class="main-carousel{% if preliminary-examination.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>
        {% for object in preliminary-examination | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="investigation" class="timeline phase_3">
      <h2>Investigation</h2>
      <div class="main-carousel{% if investigation.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>        
        {% for object in investigation | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="arrest-warrant-and-summons" class="timeline phase_4">
      <h2>Arrest Warrant & Summons</h2>
      <div class="main-carousel{% if arrest-warrant-and-summons.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>       
        {% for object in arrest-warrant-and-summons | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>


    <div id="confirmation-of-charges" class="timeline phase_5">
      <h2>Confirmation of Charges</h2>
      <div class="main-carousel{% if confirmation-of-charges.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>        
        {% for object in confirmation-of-charges | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="trial-and-appeal" class="timeline phase_6">
      <h2>Trial & Appeal</h2>
      <div class="main-carousel{% if trial-and-appeal.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>        
        {% for object in trial-and-appeal | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="sentencing-and-reparations" class="timeline phase_7">
      <h2>Sentencing & Reparations</h2>
      <div class="main-carousel{% if sentencing-and-reparations.size > 1 %} js-flickity{% endif %}" data-flickity-options='{ {{slideshowOptions}} }'>        
        {% for object in sentencing-and-reparations | sort: 'order', 'last' %}
        {% capture words %}{{ content | number_of_words }}{% endcapture %}
          {% assign words = words | plus: 1 %}
          <div class="section{% if words > 200 %} columns{% endif %}">
            {% include components/sections.html %} 
          </div>
        {% endfor %}
      </div>
    </div>




  </div>
</main>


{% include sidebar-right.html class="is-visible" %}
{% comment %} {% include sidebar-right.html %} {% endcomment %}
