<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/images/logo-aba-icc_144xb.png" alt="" style="display:block;">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button-mobile" id="js-mobile-menu">&#9776; MENU</a>
    {% comment %}{% endcomment %}
      <a href="javascript:void(0)" class="navigation-menu-button sliding-panel-button" id="js-mobile-menu-sidebar">
        <span class="open">
          <!-- &#9776; -->
          <img src="/assets/images/noun_109088.svg" alt="" style="height:20px;" />
        </span>
        <span class="close">
          <!-- &#10005; -->
          <img src="/assets/images/noun_149007.svg" alt="" style="height:20px;" />
        </span>
        <!-- MENU -->
      </a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      {% for link in site.data.links-menu-top %}
          <li tabindex="{{ forloop.index | plus: 2 }}" class="nav-link{% if page.url == link.link %} active{% endif %}" data-ga-click="nav, go to explore, text:{{ link.name }}">
            <a href="{{ link.link }}">
              {{ link.name }}
            </a>
          </li>

      {% endfor %}
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
      {% include forms/search.html %}
      </div>
    </div>
  </div>
</header>
