{% set links_global = site.data.navigation-global %}


<header class="navigation">
  <div class="menu-wrapper">
    <a href="/" class="logo">
      <img src="/static/images/logo-aba-icc_144xb.png" alt="" style="display:block;">
    </a>
    <p class="js-menu-trigger navigation-menu-button" id="js-mobile-menuTK">
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu.png" alt="Menu Icon"> -->
        <span class="hidden-small-screens">&#9776; ABOUT</span>
      <span class="hidden-large-screens">&#9776; MENU</span>
      </p>
    <div class="nav">
      <ul id="navigation-menu">


{% for link in global.menu %}
          <li tabindex="{{loop.index}}" class="nav-link" data-ga-click="nav, go to explore, text:{{ link.menu_text }}">
            <a href="{% if link.page %}{{ url(link.page) }}{% elseif link.link %}/{{ link.link }}/{% endif %}"{% if getCurrentUrl() == url(link.page) %} class="active" {% endif %}>{{ link.menu_text }}</a></li>
        {% endfor %}                





      </ul>
   </div>
    <div class="navigation-tools">
    <ul class="secondary" id="navigation-menu">
      {% include nav/navigation-secondary.html %}
    </ul>
      <!-- <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div> -->
      <!-- <a href="javascript:void(0)" class="sign-up">Sign Up</a> -->
    </div>
  </div>
</header>

{% include nav/nav-sliding-menu.html %}