{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
   {% block hero %}
    {% endblock %}

{% block sideMenu %}
  <div class="sidebar-content">
    <h2>{{ cms.homepage.name }}</h2>

     <p>{{ cms.homepage.sidebar_copy|safe }}</p> 
  </div>
{% endblock %}



{% block content %}
  {% set data = cms.homepage.grid %}
  <div class="flex-boxes-home">
    {% for row in data %}
      <a href="{% for relation in row.related_page %}{{ url(relation) }}{% endfor %}" 
        class="flex-box{% if loop.index == 1 || loop.index == 8 || loop.index == 9 %} flex-box-big{% endif %}" 

          {% if row.background_image %}
            style="background:url({{ row.background_image|imageSize(400) }}){% if row.bg_position %} {{ row.bg_position }}{% endif %};background-size:{% if row.background_size %}{{ row.background_size }}{% else %}cover{% endif %};{% endif %}background-repeat:no-repeat;">
        
        <figcaption>
          {% if row.heading %}
            <h1>{{ row.heading }}</h1>
          {% endif %}
          {% if row.copy %}
            {% if row.copy|size > 300 %} 
              <small>{{ row.copy|safe }}</small>
            {% else %}
              {{ row.copy|safe }}
            {% endif %}

          {% endif %}
          
        </figcaption>
        </a>



    {% endfor %}
  </div>
{% endblock %}



{# 

            
              {{ row.heading }}monKey brain3 saucenec0yeV5Ut7Lu3iG5Ap0Thoach3biV1V
            
            
            
              {{ row.copy }}
            
            
            
                <img src="{{ row.background_image|imageSize(200) }}" />
            
            
            
            
                {% for relation in row.related_page %}
            
                  <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            

 #}