{% extends "templates/abouttheicc/base.html" %}

{% block sideMenu %}
  {% set local_menu_dropdown = cms.country|where('situations')|sort('name') %}
  {% set local_menu_dropdown_label = 'Situation Countries' %}
  {% set country = item.country  %}
  {% set local_menu = cms.cases|where('country', country) %}
  {% parent %}
{% endblock %}




{% block content %}
  <div class="has-layout row row-bottom-next">
    <ul class="inline-block">
      <li>
        <strong>Country: </strong>
        <a href="{{ url(item.country) }}">{{ item.country.name }}</a>
      </li>
      {% if item.case_status %}
        <li>
          <strong>Case Status: </strong>
          {{ item.case_status }}
        </li>
      {% endif %}
      {% if item.trial_opening %}
      <li>
        <strong>Trial Opening: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.trial_opening|date('j F Y') }}
      </li>
      {% endif %}
      
       {% if item.note %}
      <li class="small">
        (<em>{{ item.note }}</em>)
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="has-layout row row-bottom">
    <ul class="inline-block" style="margin:0;padding:0;">
      <li><small><em>Page last updated:  {{ item.last_updated|date('j F Y') }}</em></small></li>
    </ul>
  </div>

  {# <div class="has-layout row">
    <h1>{% if item.long_name %}{{ item.long_name }}{% else %}{{ item.name }}{% endif %}</h1>
  </div>
 #}
  <article class="hentry">
  <h1>{% if item.long_name %}{{ item.long_name }}{% else %}{{ item.name }}{% endif %}</h1>
  <ul>
    {% for row in item.charges %}
      {% include "templates/partials/case-info.html" %}
    {% endfor %}
  </ul>
      <ul>      
      {% if item.events  %}
      <li>
        <strong>Events: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in item.events %}
            <li>
              <strong>Event: </strong>
              {{ row.event }}
            </li>
            <li>
              <strong>Event Date: </strong>
              {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
                {{ row.event_date|date('j F Y') }}
            </li>
            <li>
              <strong>Description: </strong>
              {{ row.description|safe }}
            </li>
        {% endfor %}
        </ul>
      </li>
      {% endif %}
      
      
  </ul>
  </article>
{% endblock %}
