{% extends "templates/abouttheicc/base.html" %}

{% block sideMenu %}
  {% set local_menu_dropdown = cms.country|where('situations')|sort('name') %}
  {% set local_menu_dropdown_label = 'Situation & Preliminary Examination Countries' %}
  {% set country = item.country  %}
  {% set local_menu = cms.cases|where('country', country) %}
  {% parent %}
{% endblock %}

{% block content %}
{# ROWS ON TOP OF PAGE #}
  <div class="has-layout row row-bottom-next small">
    <ul class="inline-block">
      <li>
        <strong>Country: </strong>
        <a href="{{ url(item.country) }}">{{ item.country.name }}</a>
      </li>
      {% if item.case_status %}
        <li>
          <strong>Case Status: </strong>
          {{ item.case_status }}
        </li>
      {% endif %}
      {% if item.trial_opening %}
      <li>
        <strong>Trial Opening: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.trial_opening|date('j F Y') }}
      </li>
      {% endif %}      
      {% if item.note %}
        <li class="small">
          (<em>{{ item.note }}</em>)
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="has-layout row row-bottom small">
    <ul class="inline-block" style="margin:0;padding:0;">
      <li><small><em>Page last updated:  {{ item.last_updated|date('j F Y') }}</em></small></li>
    </ul>
  </div>
 <div class="has-layout row small">
  <h1>{% if item.long_name %}{{ item.long_name }}{% else %}{{ item.name }}{% endif %}</h1>
 </div>
 {# //END ROWS ON TOP OF PAGE #}
  {% for thecase in cases %}    
    <h3 class="flex-title">
      <a href="{{ url(thecase) }}">
        {% if thecase.long_name %}{{ thecase.long_name }}{% else %}{{ thecase.name }}{% endif %}
      </a>
    </h3>
    {{ thecase.case_status }} 
  {% endfor %}
  
  <article class="hentry">
  <div class="flex-boxes-small">
    {% for row in item.charges %}
      <div class="flex-box" id="{{ thecase.name|lower|replace(' ', '-') }}" style="min-width:100%;">
        {% include "templates/partials/format-case-info.html" %}
      </div>
    {% endfor %}    
    </div>
  </article>

  {% if item.events %}
    <div class="flex-boxes-small">  
      {% for row in item.events %}
        <div class="flex-box" id="{{ thecase.name|lower|replace(' ', '-') }}">
          {% include "templates/partials/format-case-events.html" %}
        </div>
      {% endfor %}
    </div>
  {% endif %}





{% endblock %}
