.flex-boxes-small {
  
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: white;
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  

    @include clearfix;
    @include display(flex);
    @include justify-content(left);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;


  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 20em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    //box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;


  
    img {
      display: block;
      height: 8em;
      border-radius: 50%;
      margin-bottom: 2em;
      margin: auto;
      //opacity: 0.4;
    }

    .flex-title {
      //color: $flex-box-color;
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em;
    }
    h5 {
      margin-top: .25em;
    }

    h6 {
      margin:0 0 .75em 0;
    }

    p {
      //color: transparentize($flex-box-color, 0.1); let's set the color specifically in other places
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }
}
