@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $content-color-background;//darken(#021520, 0);//$content-color-background;//$base-body-color;
  $grid-item-background: $content-color-background;//$sidebar-right-color-background;//lighten($sidebar-right-color-background, 2%);
  $grid-item-colors:
    lighten($sidebar-right-color-background, 1%),
    lighten($sidebar-right-color-background, 6%),
    lighten($sidebar-right-color-background, 7%),
    lighten($sidebar-right-color-background, 14%),
    lighten($sidebar-right-color-background, 13%),
    lighten($sidebar-right-color-background, 12%),
    lighten($sidebar-right-color-background, 12%),
    lighten($sidebar-right-color-background, 12%),
    lighten($sidebar-right-color-background, 20%),
    lighten($sidebar-right-color-background, 4%),
    lighten($sidebar-right-color-background, 20%);
  $grid-item-border-size: 9px;
  $grid-item-columns: 3;
  $grid-item-big-columns: 9;
  $grid-item-medium-columns: 6;
  $grid-item-color: white;
  $grid-item-height: 16em;

  @include media($medium-screen-up) {
    $grid-item-height: 22.275vh;
  }


  @include clearfix;
////BP
a {
  color: darken($grid-item-color, 17%);
}

  position: relative;
  margin-top:0;
  margin-right: $grid-item-border-size - 4px;
  margin-left: $grid-item-border-size - 4px;
  // margin-left:0;
  // margin-right:0;
  padding-top:$grid-item-border-size;
////END BP
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: auto;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 1.75em;
    @include media($medium-screen-up) {
      height: $grid-item-height;
    padding: 2vh;
  }
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 12 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        //box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      font-size: .8em;
      //font-size:2vh;//1.8vh;
      max-width: 95%;
      margin: auto;

      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        font-size: 1.9vh;
        max-width: 80%;
      }
      // @include media($wide-screen-up) {
      //   font-size: 1.4vh;
      //   max-width: 80%;
      // }
    }

    .presentational p {
      @include media($medium-screen) {
        padding-top: .75em;
        font-weight: bold;
        font-size: 2.1vh;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 78%;
      }
    }
  }
  .grid-item-medium {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-medium-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 78%;
      }
    }
  }

.grid-image {
  display: none;
    @include media($medium-screen-up) {
      display: block;
    }
}
  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

@include media($medium-screen-up) {
.text-left h1{
  text-align:left;
}
.text-right h1{
  text-align:right;
}
}

.grid-item, .grid-item-big {
  figcaption {
    // position: absolute;               /* 2 */
    // top: 20%;                         /* 3 */
    transform: translate(0, 20%);
  }
}