$include-sidebar-right: true !default;
//These must be in % values to calculate widths
$sidebar-right-width: 28%;//31.5%;// 33% !default;
$sidebar-right-breakpoint: $d-vp !default;
$sidebar-right-color: $light-gray !default;

// =============== RIGHT SIDEBAR ===============
@if $include-sidebar-right != false {
  .content
   {
    //clear: both;
    width:100%;
    @include media($sidebar-right-breakpoint) {
      width: 100% - $sidebar-right-width;
    }
  }

 
  .sidebar-right {
      clear: both;
      overflow: hidden;
      width: 100%;
      height: 100%;//auto;
      position: relative;
      text-align: left;
      padding: 4em 0;
      color: $sidebar-right-color;
      background: $sidebar-right-color-background;

      // Styles
      
      section {
          padding:1.5em;
          p {
            font-size: .85em;
            font-weight: 200;
            color: darken($sidebar-right-color, 15%);
          }
      }

 
      @include media($sidebar-right-breakpoint) {
        border-top: $navigation-height solid $navigation-background;
        width: $sidebar-right-width;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll; // TODO: style the scroll? check on browser pics
        -webkit-overflow-scrolling: touch;
      }
    }
  }

// IF WE'RE CALLING THE FILE BUT NOT USING RIGHT SIDEBAR MAKE SURE IT DOESN'T MESS UP FRONT-END
  @else {
    .sidebar-right {
        display:none;
    }
}




