
.hidden-small-screens {
  display: none;
    @include media($large-screen-up) {
      display: block;
    }
}

.hidden-large-screens {
  display: block;
    @include media($large-screen-up) {
      display: none;
    }
}
