{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this theabaiccproject's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block sideMenu %}
 {% include "templates/partials/menu-abouttheicc.html" %}
{% endblock %}


{% block hero %}{% endblock %}

{% block sideContent %}
  {% include "templates/partials/legend-stateparties.html" %}
{% endblock %}

{% block content %}
    <div class="has-layout" style="background:transparent;">
        <div class="heading"><h1>{{ item.name }}</h1></div>
    </div>
    <div id="map-stateparties"></div>
{% endblock %}

{% block scripts_extra %}
          {#  {% set stateParties = site.data.state-parties-map %}
            {% set statePartiesSigned = stateParties | where: 'date_signed', -'' %}
            {% set statePartiesRatified = stateParties | where: 'state_party', 'Y' %}
            {% set statePartiesSignedNotRatified = stateParties | where: 'signed_but_not_ratified', 'Y' %} #}

<script src="/static/javascript/ammap/ammap.js" type="text/javascript"></script>
<script src="/static/javascript/ammap/maps/worldLow.js" type="text/javascript"></script>
{# <script src="/static/javascript/ammap/map-state-parties.js" type="text/javascript"></script> #}


<script type="text/javascript">
  

 // add all your code to this method, as this will ensure that page is loaded
    AmCharts.ready(function() {
        // create AmMap object
        var map = new AmCharts.AmMap();
        // set path to images
        map.pathToImages = "/static/images/ammap/";

        /* create data provider object
         map property is usually the same as the name of the map file.

         getAreasFromMap indicates that amMap should read all the areas available
         in the map data and treat them as they are included in your data provider.
         in case you don't set it to true, all the areas except listed in data
         provider will be treated as unlisted.
        */
        var dataProvider = {
            map: "worldLow",
            getAreasFromMap:false,
            {% include "templates/partials/map-data-state-parties.html" %}
            
        };
        // pass data provider to the map object
        map.dataProvider = dataProvider;

        /* create areas settings
         * autoZoom set to true means that the map will zoom-in when clicked on the area
         * selectedColor indicates color of the clicked area.
         */
        map.areasSettings = {
            autoZoom: false,
            selectedColor: "#bababa",
            descriptionWindowTop: 60,
            descriptionWindowLeft: 10,
            outlineThickness: 0.3,
            outlineColor: "#bababa"
        };

    //     valueLegend: {
    //     right: 10,
    //     minValue: "little",
    //     maxValue: "a lot!"
    // }
        map.zoomControl = {
            buttonFillColor: "#0e486d"
        }
           

        map.legend = {
            width: "72%",
            marginRight:12,
            marginLeft:12,
            equalWidths:false,
            backgroundAlpha: 0.7,
            backgroundColor: "#CCC",
            borderColor: "#ffffff",
            borderAlpha: 1,
            top: 10,
            left: 90,
            horizontalGap: 10
            
           
    };


        // let's say we want a small map to be displayed, so let's create it
        //map.smallMap = new AmCharts.SmallMap();

        // write the map to container div
        map.write("map-stateparties");
    });

</script>



{% endblock %}