
/*.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/


.partyToTheRomeStatute { background-color: #074b7b; }
.signedbutNotRatified { background-color: #6fa4c7; }
.notASignatory {background-color: white};

/*.preliminaryexaminationsInitialAssessment:.blue-light;
.preliminaryexaminationsAdmissibilityAssessment:#0073BF;
.preliminaryexaminationsSubjectMatterJurisdictionAssessement:#004D7F;
.preliminaryexaminationsClosedDecisionNottoProceed:#003354;
.situationsAndCases:#000;
*/
:root {
  --space-2-5: .75rem;

}

@media (--breakpoint-lg) {
  .lg-py2-5 {
    padding-top:    var(--space-2-5);
    padding-bottom: var(--space-2-5)
  }
}
