---
layout: default
section: page
---
{% assign country = site.countries | where: 'slug', page.country %}
{% include hero.html %}

<div class="has-layout" id="start-of-content">

  {% comment %} case status {% endcomment %}
  <div class="has-layout row row-first small">
    <ul class="inline-block" style="margin:0;padding:0;">
        {% if page.country %}
          <li>
            <strong>Country: </strong>
            <a href="{{ country[0].url }}">{{ country[0].title }}</a>
          </li>
      {% endif %}

      {% if page.case_status %}
        <li>
          <strong>Case Status: </strong>
          {{ page.case_status }}
        </li>
      {% endif %}
      {% if page.trial_opening_date %}
      <li>
        <strong>Trial Opening: </strong>

        {{ page.trial_opening_date | date: '%B %e, %Y' }}
      </li>
      {% endif %}

      {% if page.note %}
        <li class="small">
          (<em>{{ page.note }}</em>)
        </li>
      {% endif %}

    </ul>
  </div>

 {% comment %} Trial Name {% endcomment %}

 <header class="has-layout row small">
    <h1>
      {% if page.long_name %}
        {{ page.long_name }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
  </header>


 {% comment %} Main Body {% endcomment %}
  <article>
    <div class="prose">
      {{ content }}
    </div>
    {% comment %} Accused Details {% endcomment %}
    {% assign accused = page.accuseds %}
    {% for theAccused in accused %}
      {% assign accused = site.accuseds | where: 'slug', theAccused %}
      {% for object in accused %}
        {% assign charges = site.cases-charges | where: 'case', page.slug | where: 'accused', object.slug  %}
        {% assign events = site.cases-events | where: 'case', page.slug | where: 'accused', object.slug | sort: 'event_date', 'last'  %}
        {% include _case-listing.html %}
      {% endfor %}
    {% endfor %}
  </article>
</div>

{% comment %}
////////////////////////////////
{% for object in cases %}
  {% assign charges = site.cases-charges | where: 'case', object.slug | where: 'accused', page.slug %}
  {% assign events = site.cases-events | where: 'case', object.slug | where: 'accused', page.slug | sort: 'event_date', 'last' %}
  {% if object.accuseds contains accused %}
    {% include _case-listing.html %}
  {% endif %}
{% endfor %}
{% endif %}
 {% endcomment %}
