---
layout: default
section: page
---
{% assign country = site.countries | where: 'slug', page.country %}
{% assign cases = site.cases | where: 'country', page.slug %}
{% assign accused = page.accused  %}

{% include hero.html %}

<div class="has-layout" id="start-of-content">

  {% comment %} case status {% endcomment %}
  <div class="has-layout row row-first small">
    <ul class="inline-block" style="margin:0;padding:0;">
        {% if page.country %}
          <li>
            <strong>Country: </strong>
            <a href="{{ country[0].url }}">{{ country[0].title }}</a>
          </li>
      {% endif %}

      {% if page.case_status %}
        <li>
          <strong>Case Status: </strong>
          {{ page.case_status }}
        </li>
      {% endif %}
      {% if page.trial_opening_date %}
      <li>
        <strong>Trial Opening: </strong>

        {{ page.trial_opening_date | date: '%B %e, %Y' }}
      </li>
      {% endif %}

      {% if page.note %}
        <li class="small">
          (<em>{{ page.note }}</em>)
        </li>
      {% endif %}

    </ul>
  </div>
  {% comment %} Situation & Cases {% endcomment %}

  {% if situations %}
   <div class="has-layout row row-bottom-next small">
     <ul class="inline-block" style="margin:0;padding:0;">
       <li>
         <strong>Phase:</strong> {{ situations[0].phase }}{% if situations[1].phase %}, {{ situations[1].phase }}{% endif %}
       </li>
     </ul>
   </div>
 {% endif %}

 {% comment %} Trial Name {% endcomment %}

 <header class="has-layout row small">
    <h1>
      {% if page.long_name %}
        {{ page.long_name }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
  </header>


 {% comment %} Main Body {% endcomment %}
  <article>
    <div class="prose">
      {{ content }}
    </div>
    {% comment %} Accused Details {% endcomment %}
    {% for theAccused in page.accused %}
      {% assign accused = site.accused | where: 'slug', theAccused %}
      {% for object in accused %}
        {% include _case-listing-accused.html %}
      {% endfor %}
    {% endfor %}
  </article>
</div>
