---
layout: default
section: category
---
<section class="content">
  {% if page.splash_image %}
  	{% include global/page-splash.html %}
  {% endif %}
  <article class="{% if page.class %}{{page.class}}{% endif %}">
    <header>
       {% if page.title %}
      <h2 class="entry-title">{{page.title}}</h2>
      {% endif %}
      {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
      {% endif %}
      
    </header>
    <div class="entry-content prose columns-2 "><!--  //CONTENT -->

			{% unless page.content == '' %}
			  <p>{{ content }}</p>
			{% endunless %}

			{% for item in site.categories.[page.type] %}

			{% include snippets/news-list-formatting.html %}
			

			{% endfor %}



      
    </div>
    {% if site.include_addthis_sharing %}
      <div class="sharing">
        {% include articles/sharing.html %}
      </div>
    {% endif %}
      <!-- include global/edit.html -->
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
  </article>
</section>