---
layout: default
section: page
---
<!-- flex-box-big -->
{% assign pages = site.data.grid-items  %}
<div class="flex-boxes-home">

{% for object in pages %}
  <a href="{{ object.url }}" class="box{% if object.class %} {{object.class}}{% endif %}"
      style="
      {% if object.featured_image_path %}
        background:url( {{ object.featured_image_path }} );
        background-size:cover;
        background-repeat:no-repeat;
      {% endif %}
      {% if object.background_color %}
        background-color:{{ object.background_color }};
      {% endif %}
      {% if object.color %}
        color:{{ object.color}};
      {% endif %}
    "

    >
    <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt=""> -->
    {% if object.heading %}
      <h1 class="flex-title">
        {{ object.heading }}
      </h1>
    {% endif %}
    {% if object.description %}
      {{ object.description | markdownify }}
    {% endif %}
  </a>
  {% endfor %}

</div>
