---
layout: default
section: page
---
<div class="grid-items">
  {% assign data = site.data.grid-items %}
    {% for row in data %}
      <a href="{% for relation in row.related_page %}{{ url(relation) }}{% endfor %}"

        class="grid-item{% if loop.index == 1 || loop.index == 8 || loop.index == 9 %} grid-item-big{% endif %}"{% if row.background_image %}

        style="
        background:url({{ row.background_image|imageSize(800) }}){% if row.bg_position %} {{ row.bg_position }}{% else %} center top{% endif %};background-size:{% if row.background_size %}{{ row.background_size }}{% else %}cover{% endif %};min-height:10em;{% endif %}background-repeat:no-repeat;
        ">

        <figcaption>
          {% if row.heading %}
            <h1 class="flex-title">{{ row.heading }}</h1>
          {% endif %}
          {% if row.copy %}
            {% if row.copy|size > 300 %}
              <span class="small">{{ row.copy|safe }}</span>
            {% else %}
              {{ row.copy|safe }}
            {% endif %}
          {% endif %}
        </figcaption>
      </a>
    {% endfor %}
  </div>
