---
layout: default
section: icc-cases
---
{% assign countries = site.data.situations-and-cases-countries %}
{% assign cases = site.data.situations-and-cases-cases  %}<!--  | where: 'category', page.category -->
{% assign people = site.data.situations-and-cases-people  %}

<section class="content" style="padding:2em;">
  <div class="layout-content-with-grid" style="padding-top:3em;">
      {% if page.title %}
        <h1 class="entry-title">{{page.title}}</h1>
      {% endif %}
      {% if page.subtitle %}
       <h2>
        {{page.subtitle}}
       </h2>
      {% endif %}
  
  {% for case in cases %}
  {% assign country_code = case.ISO_code %} 
  {% assign caseid = case.case_id %} 
  {% assign country = countries | where: 'ISO_code', {{country_code}}  %}
  {% assign case_subjects = people | where: 'case_id', {{caseid}}  %}


<h2>{{ country[0].Country }}</h2>

<div class="cards" style="border-bottom:1px solid #ddd;margin-bottom:3em;">
  <aside class="column-1">
    <div id="{{ case.ISO_code }}" class="card card-full">
      {% if case.image_name %}
      <div class="card-image">
        <img src="/assets/img/{{ case.image_name }}" />
      </div>
      {% endif %}
      <div class="card-header">{{ case.Case }}</div>
      <div class="card-stats">
        <ul>
          {% if case.case_status %}
            <li>Status<span>{{case.case_status}}</span></li>
          {% endif %}  
          {% if case.date_opening_of_trial %}
            <li>Opening Date<span>{{ case.date_opening_of_trial }}</span></li>
          {% endif %}
          <li>Details<span><a href="{{ case.url }}">Read More <i class="icon-right-open"></i></a></span></li>
        </ul>
      </div>
    </div>
  </aside>
  <section class="column-2">
    {% for person in case_subjects %}
      <div class="card card-full">
        <div class="card-header">
          <h4>{{ person.Name }}{% if person.Title %}, {{ person.Title}}{% endif %}</h4>
        </div>
        <div class="card-copy">
          {% if person.Charges %}
            <h5>Charges</h5>
            {{ person.Charges | markdownify }}
          {% endif %} 
          {% if person.Factual-Allegations %}
             <h5>Factual Allegations</h5> 
            {{ person.Factual-Allegations | markdownify }}
          {% endif %}
        </div>
        <div class="card-stats">
                <ul>
                  {% if person.case_status %}
                    <li>Status<span>{{case.case_status}}</span></li>
                  {% endif %}  
                  {% if person.date_summonses %}
                    <li>Summons Date<span>{{ case.date_opening_of_trial }}</span></li>
                  {% endif %}
                  {% if person.date_opening_of_trial %}
                    <li>Opening Date<span>{{ case.date_opening_of_trial }}</span></li>
                  {% endif %}
                </ul>
              </div>
      </div>
      {% endfor %}
      
  </section>
</div>
{% endfor %}


















  </div>
</section>


