---
layout: default
section: icc-cases
---
{% assign cases = site.situations-and-cases | where: 'category', page.category %}
<section class="content">
  <div class="layout" style="padding-top:3em;">


       {% if page.title %}
      <h1 class="entry-title">{{page.title}}</h1>
      {% endif %}
      {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
      {% endif %}

  <div class="">

    <header>
      <h4>SITUATION</h4>
    </header>
    <div class="copy">
      {{content}}
    </div>
  </div>

<div class="cards">


{% for case in cases %}
    <a href="{{ case.url }}" class="card card-wideTK">

      <div class="card-image">
        <img src="/assets/img/{{ case.image }}" />
      </div>
<div class="card-header">{{ case.title }}</div>

<div class="card-copy" style="display:none;">
      {{case.content}}
    </div>


</a>



{% endfor %}

</div>


















  </div>
</section>


