---
layout: default
section: full-width
---
<section class="contentf" style="width:100%;height:100%;">
    {{ content }}
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
  <!-- include nav/navigation-local.html -->


<nav class="card-menu" >





	<ul>
		<li class="heading">Rome Statute Data by Country</li>

<li>Country - Date</li>
<li>Country - Date</li>
<li>Country - Date</li>
{% assign  authors = site.data | sort_by: "last_name" %}
		{% for links in authors %}
			<li id="{{links.url}}" class="nav-sidebar-item{% if links.title == page.title %} active{% endif %}">
				<a href="{{links.url}}">{{links.title}}</a>
			</li>




{% if links.title == page.title %}
            {% unless forloop.first %}
                {% assign prevurl = prev.url %}

            {% endunless %}
            {% unless forloop.last %}
                {% assign next = authors[forloop.index] %}
                {% assign nexturl = next.url %}

            {% endunless %}
        {% endif %}
        {% assign prev = links %}










{% endfor %}



		</ul>



</nav>



<script>
    document.body.onkeyup = function(e){
        if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
        if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
    };
</script>





</section>