---
layout: default
section: map
---
<div id="map-output"></div>
<div id="container-filter">
  <div class="has-layout" style="background:transparent;padding:1em .75em;">
    <input class="search" placeholder="Search" style="display:inline-block;font-size:1.5em;"  />
  </div>
    {% if page.url == '/about-the-icc/situations-cases/' %}
      {% include situations-and-cases-grid.html %}
    {% endif %}
    {% if page.url == '/about-the-icc/states-parties-to-the-icc/' %}
      {% include state-parties-grid.html %}
    {% endif %}
</div>

  <script type="text/javascript" src="/assets/maps/maps.min.js"></script>

  {% if page.url == '/about-the-icc/situations-cases/' %}
    <script type="text/javascript" src="/api/map-data-situations-and-cases.js"></script>
  {% endif %}
  {% if page.url == '/about-the-icc/states-parties-to-the-icc/' %}
    <script type="text/javascript" src="/api/map-data-state-parties.js"></script>
  {% endif %}
