---
layout: default
section: page
---
<main class="content is-visible" role="main">
{% include hero.html %}
{% include _nav-special.html %}

<div class="has-layout" id="start-of-content">
  <article class="hentry" role="article">
    {% include _article.html %}


{% assign data = site.documents
  | where_exp:"item", "item.url contains 'referrals-and-communication'"
%}

6
{% for object in data %}
  <h2>{{ object.title }}  ({{object.slug }})  </h2>
  {% if object.content %}
  {{ object.content | markdownify }}
  {% endif %}

  <hr />
{% endfor %}





  </article>

</div>
</main>


{% include sidebar-right.html class="is-visible" %}
{% comment %} {% include sidebar-right.html %} {% endcomment %}
