---
layout: default
section: page
---
<div class="has-layout">
  <article class="hentry">
    {% if page.title %}
      <header>
        {% comment %} <h1 class="entry-title">
          {{ page.title }}
        </h1> {% endcomment %}

        <div class="heading"><h1>{{ page.title }}</h1></div>
      </header>
    {% endif %}
    <div class="entry-content prose columns-2 "><!--  //CONTENT -->
      {% if page.position %}
        <h2>
          {{ page.position }}
        </h2>
      {% endif %}
      {% if page.board_chair %}
        <strong>
          Board Chair
        </strong>
      {% endif %}
      {% if page.image_path %}
        <img src="{{ page.image_path }}" style="max-height300px;float:left;margin:10px 18px 4px 0;" />
      {% endif %}
      {{ content }}
    </div>
  </article>
{% if page.timeline %}
  {% include timeline.html %}
{% endif %}

{% if page.include %}
  {% include {{ page.include }} %}
{% endif %}
</div>
