---
layout: default
section: page
---
<main class="content is-visible" role="main">
{% include hero.html %}
{% include _nav-special.html %}

<div class="has-layout" id="start-of-content">
  <article class="hentry" role="article">
    {% include _article.html %}


{% assign data = site.how-the-court-works | sort: 'title' %}

{% for object in data %}
  <h2>{{ object.title }} {{}}</h2>
  {{ object.content | markdownify }}

  <hr />
{% endfor %}





  </article>

</div>
</main>


{% include sidebar-right.html class="is-visible" %}
{% comment %} {% include sidebar-right.html %} {% endcomment %}
