---
layout: default
section: vertical-timeline
---
{% assign countries = site.data.situations-and-cases-countries %}
{% assign cases = site.data.situations-and-cases-cases  %}<!--  | where: 'category', page.category -->
{% assign people = site.data.situations-and-cases-people  %}
{% assign events = site.data.situations-and-cases-timeline  %}



{% assign buttonCopy = site.data.copy.timeline %}
{% if page.splash_image %}
  {% include global/page-splash.html %}
{% endif %}

<section id="cases" class="content" style="padding:2em;">
  <h1>{{ page.title }}</h1>
  {% comment %}This section displays the buttons to filter by country{% endcomment %}
  <div class="filter-buttons text-left script-only hidden-js" style="margin:2em auto 3em auto;clear:both;">
      <p>{{buttonCopy.copy}}</p>
    
    {% for country in countries %}
      {% assign country_code = country.ISO_code %} 
      {% if country.Overview %}     
      <button id="filter-{{ country_code }}" class="event" style="margin:0 .5em .75em 0;">
        <img style="heigh:15px;" src="{{ site.images }}countries/{{ country_code }}.svg" alt="Picture" stle="align:top;"> {{ country.Country }}
      </button>
      {% endif %}
    {% endfor %}

<button id="filter-countries-none" class="small news" style="padding:.35em .25em;margin-bottom:2em;text-align:right;">clear filters</button>
  </div>

  
  {% comment %}This section displays country and case info{% endcomment %}
  <div class="cards">
    <div id="country-info" class="list-filter-countries script-only hidden-js">
      {% for country in countries %}
        {% assign country_code = country.ISO_code %} 
        {% assign country_cases = cases | where: 'ISO_code', {{country_code}} %}
        <div id="{{ country_code }}">
          <div class="card card-full">
            <!-- <div class="card-image">
              <img src="/assets/img/{{ country.image }}" />
            </div> -->
            <div class="card-header"><h2>{{ country.Country }}</h2></div>
            {% if country.Overview %}<div class="card-copy">{{country.Overview | markdownify }}

            {% for case in country_cases %}<strong>{{case.Case}}</strong>{% unless forloop.last %} | {% endunless %}{% endfor %}
            </div>{% endif %}
            <span class="country hidden">{{ country_code }}</span>
          </div>
          
          {% for case in country_cases %}
            <div id="{{ case.ISO_code }}" class="card">
            {% if case.image_name %}
            <div class="card-image">
              <img src="/assets/img/{{ case.image_name }}" />
            </div>
            {% endif %}
              <div class="card-header">{{ case.Case }}</div>
              <div class="card-stats">
                <ul>
                  {% if case.case_status %}
                    <li>Status<span>{{case.case_status}}</span></li>
                  {% endif %}  
                    {% comment %}
                  {% if case.date_opening_of_trial %}
                    <li>Opening Date<span>{{ case.date_opening_of_trial }}</span></li>
                  {% endif %}
                  {% endcomment %}
                  <li>Details<span><a href="{{ case.url }}">Read More <i class="icon-right-open"></i></a></span></li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% comment %}This section displays situations and cases in a timeline view{% endcomment %}
  <section id="cd-timeline" class="cd-container list-filter">
    {% for event in events %}
      {% assign country_code = event.ISO_code %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img {% if event.Status %}status-{{event.Status}}{% endif %}">
          <img src="{{ site.images }}countries/{{ country_code }}.svg" alt="Picture">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
          <h6>
            {% for country in country_name %}
              {% if country.Country %}{{ country.Country }}{% endif %}
            {% endfor %}
          </h6>
          <h2>{{ event.Title }}</h2>
          {% if event.event %}<h5>{{ event.event }}</h5>{% endif %}
          {% if event.Description %}<p>{{ event.Description | markdownify | remove: '<p>' | remove: '</p>'  }}</p>{% endif %}
            {% if event.Video %}
          <div class='embed-container'><iframe src='http://www.youtube.com/embed/{{ event.Video }}' frameborder='0' allowfullscreen></iframe></div>
              {% endif %}
            {% if event.link %}
          <a href="{{ event.link }}" class="cd-read-more">Read more</a>
            {% endif %}
            {% if event.Date %}
          <span class="cd-date">{{ event.Date | date:'%b %d, %Y' }}</span>
            {% elsif event.Year %}
          <span class="cd-date">{{ event.Year }}</span>
            {% endif %}
          <span class="country hidden">{{ event.ISO_code }}</span>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
    {% endfor %}
  </section>
</section>