<div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo">

    <img src="/assets/img/ABA-ICC_LOGO-1C82C7.png" class=""> 

    </a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Attorneys</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr>

  <p>The International Criminal Court (ICC) Project converts the ABA’s strong policies on the ICC into concrete action. Its mission is to strengthen, regularize, and broaden U.S. engagement with the ICC by creating dynamic forums where meaningful and sustained dialogue can occur on both practical and policy issues among and between the ICC and various American audiences. These initiatives will advance the field of international criminal law as well as enhance understanding and trust between the U.S. and the ICC.</p>
</footer>

{% comment %}

{% if page.background_image %}

<style type="text/css">
.hero {
  background-color: transparent;
}

</style>

  {% if page.background_image contains 'http' %}
    {% capture image_url %}{{page.background_image}}{% endcapture %}
  {% else %}
    {% capture image_url %}/assets/img/{{page.background_image}}{% endcapture %}
  {% endif %}
  <img src="{{image_url}}" class="bg">
{% endif %}
{% endcomment %}
{% comment %}
.push and .bg are utility classes we can use to 
stick our footer at the bottom of the page and 
display a full width background image, respectively


<footer >
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="no-bullet">
      <li class="source-org vcarfd copyright">
        <a href="{{site.url}}"><span class="org fn">{{site.sitename}}</span></a>
      </li> 
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>   
    </ul>
  </div>
</footer>

<!-- /footer -->

{% endcomment %}