{% assign featured_news = site.posts %}

<div class="hero">
	<div class="hero-innerTK">
    <!-- <a href="" class="hero-logo"><img src="/assets/img/aba-icc-logo-sm.png" alt=""></a> -->

{% comment %}<div class="cycle-overlay"></div>{% endcomment %}

  
<div class="cycle-slideshow" 
			data-cycle-fx=carousel 
			data-cycle-timeout=5000 
			data-cycle-carousel-visible=5
			data-cycle-carousel-fluid=true
			data-cycle-next="#next" 
			data-cycle-prev="#prev" 
			data-cycle-pager="#pager"
			data-cycle-pause-on-hover="true"
			data-cycle-swipe=true
    		data-cycle-swipe-fx=scrollHorz
    		data-cycle-slides="a"
			 >
	 {% for news in featured_news %}
	 	{% if news.featured_image %}
	 	<a href="{{news.url}}">
	 		<img src="{% if news.featured_image contains 'http://' %}{{news.featured_image}}{% else %}/assets/img/{{news.featured_image}}{% endif %}" />
	 		<div class="cycle-overlay small">{{news.title | markdownify | remove: '<p>' | remove: '</p>'  | truncate: 50 }}</div>
	 	</a>
	 	{% endif %}
	 {% endfor %}
  </div>



<div class="cycle-pager" id="pager"></div>


		
    <!-- <button>Learn More</button> -->
	</div>
</div>

