{% if site.use_jquery_cdn == true %}
	 <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endif %}
<script src="/assets/js/concatenate-scripts.js"></script>
<script type="text/javascript">{% include scripts/jquery.backstretch.local.html %}</script>
<script type="text/javascript" src="/assets/js/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cycle2.carousel.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
        url: "http://api.tumblr.com/v2/blog/aba-icc.tumblr.com/posts?api_key=712yUR7HNAL8B8YXhrRwvH3sCnAgjV74BlYezAD8KWtbtXM9Ij&limit=10",
        dataType: 'jsonp',
        success: function(results){
    			console.log(results); 
          $.each(results.response.posts, function(i, item){
              //var src = item.photos.url; // first picture, first size
              var caption = item.caption;
              var body = item.body;
              var description = item.description;
              //$("<img/>").attr("src", src).appendTo("#wrapper").wrap('<div class="postImage"></div>').after('<span class="postCaption">' + body + '</div>');
              if(item.title && item.post_url) {
                  $('<h5><a href="' + item.post_url +   '">' +  item.title + '</a> <small><i class="icon-link-ext"></i></small> </h5>').appendTo('#content_tumblr');
                  	}
                  	else if(item.title) {
                  		$('<h5>' + item.title + '</h5>').appendTo('#content_tumblr');
                }; 			
              if(item.description) {
                  $('<span>' + description + '</span>').appendTo('#content_tumblr');
                };
                if(item.post_url) {
                  $('<a href="' + item.post_url +   '</span>').appendTo('#content_tumblr');
                };
                		$('<hr />').appendTo('#content_tumblr')
              });
            }
          });


  $('.flip').click(function(){
        $(this).find('.card').addClass('flipped').mouseleave(function(){
            $(this).removeClass('flipped');
        });
        return false;
    });









        });
</script>


